﻿@using System.Globalization
@using Abp.AspNetZeroCore.Timing
@using Abp.Configuration
@using Abp.MultiTenancy
@using Abp.Web.Mvc.Alerts
@using RASP.AbpTemplate.Features
@using RASP.AbpTemplate.Web.Resources
@using Abp.Web.Security.AntiForgery
@using RASP.AbpTemplate.Configuration
@using RASP.AbpTemplate.UiCustomization
@using RASP.AbpTemplate.UiCustomization.Dto
@using RASP.AbpTemplate.Url
@using RASP.AbpTemplate.Web.Areas.App.Models.Layout
@using RASP.AbpTemplate.Web.Session
@using CultureHelper = RASP.AbpTemplate.Localization.CultureHelper
@inject ScriptPaths ScriptPaths
@inject AppTimes AppTimes
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IWebUrlService WebUrlService
@inject IPerRequestSessionCache SessionCache
@inject IAlertManager AlertManager
@{
    AbpAntiForgeryManager.SetCookie(Context);

    var isChatEnabled = AbpSession.MultiTenancySide == MultiTenancySides.Host || IsFeatureEnabled(AppFeatures.ChatFeature);
    var headerViewModel = new HeaderViewModel();
    UiCustomizationSettingsDto theme = await GetTheme();
}
<!DOCTYPE html>
<html lang="en" dir=@(CultureHelper.IsRtl ? "rtl" : "" )>
<head prefix="og: http://ogp.me/ns#">
    <title>City Land</title>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="City Land" name="description" />
    <meta content="City Land" name="author" />

    <meta property="og:title" content="City Land" />
    <meta property="og:image" content="@headerViewModel.GetLogoUrl(ApplicationPath, theme.BaseSettings.Menu.AsideSkin)" />
    <meta property="og:description" content="Base solution for your next web application" />
    <meta property="og:url" content="@($" {Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")">

    <link rel="icon" href="~/favicon.ico" sizes="32x32" />

    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/_Bundles/vendors.bundle.css" asp-append-version="true" />
    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/_Bundles/app-layout-libs.css" asp-append-version="true" />
    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/_Bundles/common-styles.css" asp-append-version="true" />
    <link rel="stylesheet" abp-href="/Common/Scripts/Datatables/datatables@(CultureHelper.IsRtl ? "-rtl":"").css" asp-append-version="true" />
    <link rel="stylesheet" abp-href="/Common/Styles/metronic-customize.css" asp-append-version="true" />

    @if (CultureHelper.IsRtl)
    {
        <link rel="stylesheet" href="@(ApplicationPath)Common/Styles/abp-zero-template-rtl.css" asp-append-version="true" />
    }

    @if (isChatEnabled)
    {
        <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/Layout/_ChatBar.css" asp-append-version="true" />
    }

    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/Layout/_ThemeSelectionPanel.css" asp-append-version="true" />
    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/Layout/_Layout.css" asp-append-version="true" />
    @*<link rel="stylesheet" abp-href="/assets/Kendo/styles/kendo.bootstrap-v4.min.css" asp-append-version="true" />*@
    @await RenderSectionAsync("Styles", false)

    @{ var loginInfo = await SessionCache.GetCurrentLoginInformationsAsync(); }
    @if (loginInfo?.Tenant?.CustomCssId != null)
    {
        <!-- id parameter is used to prevent caching -->
        <link id="TenantCustomCss" rel="stylesheet" href="@Url.Action("GetCustomCss", "TenantCustomization" , new { area = string.Empty, tenantId = loginInfo?.Tenant?.Id })" asp-append-version="true" />
    }

    <script type="text/javascript">
        @* This is used to get the application's root path from javascript.
        It's useful if you're running application in a virtual directory under IIS. *@
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
        var CKEDITOR_BASEPATH = '/assets/CkEditor/';
    </script>
    <!--begin::Base Scripts -->
    <script abp-src="/metronic/themes/@(theme.BaseSettings.Theme)/js/options.js" asp-append-version="true"></script>
    <script abp-src="/view-resources/Areas/App/Views/_Bundles/app-layout-libs.js" asp-append-version="true"></script>
    <script abp-src="/view-resources/Areas/App/Views/_Bundles/scripts.bundle.js" asp-append-version="true"></script>
    @*<script abp-src="/assets/Kendo/js/kendo.all.min.js" asp-append-version="true"></script>
    <script abp-src="/assets/Kendo/js/kendo.aspnetmvc.min.js" asp-append-version="true"></script>*@

</head>
<!-- END HEAD -->
<!-- begin::Body -->
<body style="font-family:Arial!important" class="kt-page--@(theme.BaseSettings.Layout.LayoutType)
      kt-header--@(theme.BaseSettings.Header.DesktopFixedHeader ? "fixed":"static")
      @(theme.BaseSettings.Header.MobileFixedHeader ? "kt-header-mobile--fixed " :"")
      @((theme.BaseSettings.Menu.FixedAside && !theme.IsTopMenuUsed) ? "kt-aside--fixed" :"")
      @(theme.BaseSettings.Menu.DefaultMinimizedAside ? "kt-aside--minimize" :"")
      kt-quick-panel--@(CultureHelper.IsRtl ? "left" :"right") kt-demo-panel--@(CultureHelper.IsRtl ? "left" :"right")
      @(theme.IsLeftMenuUsed ? "kt-aside-left--enabled kt-aside--enabled" :"")
      kt-subheader--enabled @(theme.BaseSettings.SubHeader.FixedSubHeader ? "kt-subheader--fixed" :"")
      kt-aside-left--offcanvas @(!theme.IsLeftMenuUsed ? "kt-subheader--transparent" :"") @(theme.IsLeftMenuUsed ? "kt-subheader--" + theme.BaseSettings.SubHeader.SubheaderStyle:"")
      @(theme.IsLeftMenuUsed ? "kt-aside--" + (theme.BaseSettings.Menu.FixedAside ? "fixed" :"static"):"")
      @(theme.IsTopMenuUsed ? "kt-header--minimize-" + (theme.BaseSettings.Header.MinimizeDesktopHeaderType):"")
      @(theme.BaseSettings.Footer.FixedFooter && theme.BaseSettings.Layout.LayoutType !="fixed" ? "kt-footer--fixed" : "" )">
    <!-- begin:: Page -->
    @RenderBody()
    <!-- end:: Page -->
    <!-- begin::Chat Bar -->
    @if (isChatEnabled)
    {
        @await Html.PartialAsync("~/Areas/App/Views/Layout/_ChatBar.cshtml")
    }
    <!-- end::Chat Bar -->
    <!-- begin::Theme Selection Panel -->
    @if (await SettingManager.GetSettingValueAsync<bool>
(AppSettings.UserManagement.IsQuickThemeSelectEnabled))
    {
        @await Html.PartialAsync("~/Areas/App/Views/Layout/_ThemeSelectionPanel.cshtml")
    }
    <!-- end::Theme Selection Panel -->
    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="@(ApplicationPath)AbpServiceProxies/GetAll?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>
    <script src="@(ApplicationPath)AbpScripts/GetScripts?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>

    <script type="text/javascript">
        abp.localization.currentCulture = $.extend({}, abp.localization.currentCulture, { displayNameEnglish: '@CultureInfo.CurrentUICulture.EnglishName' });
        moment.locale('@(CultureHelper.UsingLunarCalendar ? "en" : CultureInfo.CurrentUICulture.Name)'); //Localizing moment.js
    </script>

    <script src="@(ApplicationPath)view-resources/Areas/App/Views/_Bundles/signalr.bundle.min.js" asp-append-version="true"></script>

    <script abp-src="/view-resources/Areas/App/Views/_Bundles/common-scripts.js" asp-append-version="true"></script>
    <script abp-src="/view-resources/Areas/App/Views/_Bundles/app-common-scripts.js" asp-append-version="true"></script>
    <script abp-src="/view-resources/Areas/App/Views/Layout/_Header.js" asp-append-version="true"></script>
    @if (await SettingManager.GetSettingValueAsync<bool>
(AppSettings.UserManagement.IsQuickThemeSelectEnabled))
    {
        <script src="@(ApplicationPath)view-resources/Areas/App/Views/Layout/_ThemeSelectionPanel.js" asp-append-version="true"></script>
    }

    @if (isChatEnabled)
    {
        <script src="@(ApplicationPath)view-resources/Areas/App/Views/Layout/_ChatBar.js" asp-append-version="true"></script>
        <script src="@(ApplicationPath)Common/Scripts/Chat/chat.signalr.js" asp-append-version="true"></script>
    }
    @if (await SettingManager.GetSettingValueAsync<bool>
(AppSettings.UserManagement.SessionTimeOut.IsEnabled) && AbpSession.UserId.HasValue)
    {
        <script src="@(ApplicationPath)view-resources/Areas/App/Views/_Bundles/InactivityController.min.js" asp-append-version="true"></script>
    }
    <script src="~@ScriptPaths.JQuery_Validation_Localization" asp-append-version="true"></script>
    <script src="~@ScriptPaths.Bootstrap_Select_Localization" asp-append-version="true"></script>
    <script src="~@ScriptPaths.JQuery_Timeago_Localization" asp-append-version="true"></script>
    <script src="~@ScriptPaths.Select2_Localization" asp-append-version="true"></script>

    <!--end::Base Scripts -->
    @*<script abp-src="/assets/CkEditor/ckeditor.js" asp-append-version="true"></script>*@
    <script abp-src="/Plugins/tinymce-dist/tinymce.min.js" asp-append-version="true"></script>
    <script abp-src="/Common/Scripts/app.js" asp-append-version="true"></script>
    <!--begin::Page Snippets -->
    @await RenderSectionAsync("Scripts", false)
    <script>
        app.supportsTenancyNameInUrl = @(WebUrlService.SupportsTenancyNameInUrl.ToString().ToLower());

    </script>
    <!--end::Page Snippets -->
</body>
<!-- end::Body -->
</html>