
@using System.Globalization
@using RASP.AbpTemplate.Web.Areas.App.Models.Common.Modals
@using RASP.AbpTemplate.Web.Areas.App.Models.Articles
@model CreateOrEditArticleModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditArticle")) : L("CreateNewArticle")))

<div class="modal-body" style="overflow: scroll;height: 800px">
        <div id="ArticleInformationsTab">
            <form name="ArticleInformationsForm" role="form" novalidate class="form-validation">

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="id" value="@Model.Article.Id" />
                }

				            
								<div class="form-group m-form__group">
										<label for="RCategoryTitle">@L("RCategory")</label>
									    <div class="input-group">
											<input class="form-control" id="RCategoryTitle" name="rCategoryTitle" value="@Model.RCategoryTitle" type="text" disabled>
										<div class="input-group-append">
											<button class="btn btn-primary blue" id="OpenRCategoryLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
										</div> 
										<div class="input-group-prepend">
											<button class="btn btn-danger btn-icon" type="button" id="ClearRCategoryTitleButton"><i class="fa fa-times"></i></button>
										</div>
									</div>
								</div>

								@if (Model.IsEditMode)
								{
									<input class="form-control" id="Article_RCategoryId" value="@Model.Article.RCategoryId" type="text" name="rCategoryId"  hidden/>
								}
								 else
								{ 
									<input class="form-control" id="Article_RCategoryId" value="" type="text" name="rCategoryId"  hidden/>
								}



				
								<div class="form-group">
									<label for="Article_MetaTitle">@L("MetaTitle")</label>
									<input class="form-control" id="Article_MetaTitle" value="@Model.Article.MetaTitle" type="text" name="metaTitle"  required  maxlength="@RASP.AbpTemplate.RModel.ArticleConsts.MaxMetaTitleLength"  minlength="@RASP.AbpTemplate.RModel.ArticleConsts.MinMetaTitleLength"  />
								</div>
					
								<div class="form-group">
									<label for="Article_MetaDescription">@L("MetaDescription")</label>
									<input class="form-control" id="Article_MetaDescription" value="@Model.Article.MetaDescription" type="text" name="metaDescription"  required    />
								</div>
					
								<div class="form-group">
									<label for="Article_ImageName">@L("ImageName")</label>
									<input class="form-control" id="Article_ImageName" value="@Model.Article.ImageName" type="text" name="imageName"   maxlength="@RASP.AbpTemplate.RModel.ArticleConsts.MaxImageNameLength"  minlength="@RASP.AbpTemplate.RModel.ArticleConsts.MinImageNameLength"  />
								</div>
					
								<div class="form-group">
									<label for="Article_Tag">@L("Tag")</label>
									<input class="form-control" id="Article_Tag" value="@Model.Article.Tag" type="text" name="tag"     />
								</div>
					
								<div class="form-group">
									<label for="Article_Title">@L("Title")</label>
									<input class="form-control" id="Article_Title" value="@Model.Article.Title" type="text" name="title"  required  maxlength="@RASP.AbpTemplate.RModel.ArticleConsts.MaxTitleLength"  minlength="@RASP.AbpTemplate.RModel.ArticleConsts.MinTitleLength"  />
								</div>
					
								<div class="form-group">
									<label for="Article_Description">@L("Description")</label>
									<input class="form-control" id="Article_Description" value="@Model.Article.Description" type="text" name="description"  required  maxlength="@RASP.AbpTemplate.RModel.ArticleConsts.MaxDescriptionLength"  minlength="@RASP.AbpTemplate.RModel.ArticleConsts.MinDescriptionLength"  />
								</div>
					
								<div class="form-group">
									<label for="Article_Content">@L("Content")</label>
									<input class="form-control" id="Article_Content" value="@Model.Article.Content" type="text" name="content"     />
								</div>
					
								<div class="form-group">
									<label for="Article_Author">@L("Author")</label>
									<input class="form-control" id="Article_Author" value="@Model.Article.Author" type="text" name="author"   maxlength="@RASP.AbpTemplate.RModel.ArticleConsts.MaxAuthorLength"  minlength="@RASP.AbpTemplate.RModel.ArticleConsts.MinAuthorLength"  />
								</div>
					
								<div class="m-checkbox-list">
									<label for="Article_IsAvailable" class="kt-checkbox">
										<input id="Article_IsAvailable" type="checkbox" name="isAvailable" value="true" @Html.Raw(Model.Article.IsAvailable ?"checked=\"checked\"":"") />
										@L("IsAvailable")
										<span></span>
									</label>
								</div>
					
								<div class="form-group">
									<label for="Article_IsHot">@L("IsHot")</label>
									<input class="form-control" id="Article_IsHot" value="@Model.Article.IsHot" type="text" name="isHot"     />
								</div>
					
								<div class="form-group">
									<label for="Article_IsNew">@L("IsNew")</label>
									<input class="form-control" id="Article_IsNew" value="@Model.Article.IsNew" type="text" name="isNew"     />
								</div>
					
								<div class="form-group">
									<label for="Article_Priority">@L("Priority")</label>
									<input class="form-control m-input" id="Article_Priority" value="@Model.Article.Priority.ToString(CultureInfo.InvariantCulture)" type="number" name="priority"  />
								</div>
					
								<div class="form-group">
									<label for="Article_Hit">@L("Hit")</label>
									<input class="form-control m-input" id="Article_Hit" value="@Model.Article.Hit.ToString(CultureInfo.InvariantCulture)" type="number" name="hit"  />
								</div>
					

            </form>
        </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
