
@using RASP.AbpTemplate.Web.Areas.App.Models.Common.Modals
@using RASP.AbpTemplate.Web.Areas.App.Models.Articles
@model ArticleViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="ArticleInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("MetaTitle") :</h6>
                @Model.Article.MetaTitle
            </div>
            <div class="col-6 mb-3">
                <h6>@L("MetaDescription") :</h6>
                @Model.Article.MetaDescription
            </div>
            <div class="col-6 mb-3">
                <h6>@L("ImageName") :</h6>
                @Model.Article.ImageName
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Title") :</h6>
                @Model.Article.Title
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Author") :</h6>
                @Model.Article.Author
            </div>
            <div class="col-6 mb-3">
                <h6>@L("IsAvailable") :</h6>
                @Model.Article.IsAvailable
            </div>
            <div class="col-6 mb-3">
                <h6>@L("IsHot") :</h6>
                @Model.Article.IsHot
            </div>
            <div class="col-6 mb-3">
                <h6>@L("IsNew") :</h6>
                @Model.Article.IsNew
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Priority") :</h6>
                @Model.Article.Priority
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Hit") :</h6>
                @Model.Article.Hit
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("RCategory")) @L("Title") :</h6>
                @Model.RCategoryTitle
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")

