﻿@model RASP.AbpTemplate.Configuration.Dto.ThemeSettingsDto

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a href="#Theme6Header" class="nav-link active" data-toggle="tab" role="tab">
            @L("UiCustomization_Header")
        </a>
    </li>
    <li class="nav-item">
        <a href="#Theme6SubHeader" class="nav-link" data-toggle="tab" role="tab">
            @L("UiCustomization_SubHeader")
        </a>
    </li>
    <li class="nav-item">
        <a href="#Theme6Footer" class="nav-link" data-toggle="tab" role="tab">
            @L("UiCustomization_Footer")
        </a>
    </li>
</ul>
<div class="tab-content">
    <div id="Theme6Header" class="tab-pane active">
        <input type="hidden" name="Theme" value="theme6" />

        <form class="HeaderSettingsForm">
            <h5 class="margin-bottom-20">@L("UiCustomization_Mobile")</h5>
            <div class="form-group">
                <label class="kt-checkbox col-lg-12">
                    <input type="checkbox" name="MobileFixedHeader" value="true" @(Model.Header.MobileFixedHeader ? "checked=\"checked\"" : "")>
                    @L("UiCustomization_MobileFixedHeader")
                    <span></span>
                </label>
            </div>
        </form>
    </div>
    <div id="Theme6SubHeader" class="tab-pane">
        <form class="SubHeaderSettingsForm">
            <h5 class="margin-bottom-20">@L("UiCustomization_SubHeader")</h5>
            <div class="form-group">
                <label class="kt-checkbox col-lg-12">
                    <input type="checkbox" name="FixedSubHeader" value="true" @(Model.SubHeader.FixedSubHeader ? "checked=\"checked\"" : "")>
                    @L("UiCustomization_FixedSubHeader")
                    <span></span>
                </label>
            </div>
            <h5 class="margin-bottom-20">@L("UiCustomization_SubHeaderStyle")</h5>
            <div class="form-group">
                @Html.DropDownList("SubHeaderStyle", new SelectList(new List<SelectListItem>
                {
                    new SelectListItem {Text = L("UiCustomization_SubHeaderStyle_Transparent"), Value = "transparent"},
                    new SelectListItem {Text = L("UiCustomization_SubHeaderStyle_Solid"), Value = "solid"}
                }, "Value", "Text", Model.SubHeader.SubheaderStyle), new {@class = "form-control w-25", id = "SubHeaderStyle"})
            </div>
        </form>
    </div>
    <div id="Theme6Footer" class="tab-pane">
        <form class="FooterSettingsForm">
            <h5 class="margin-bottom-20">@L("UiCustomization_Footer")</h5>
            <div class="form-group">
                <label class="kt-checkbox col-lg-12">
                    <input type="checkbox" name="FixedFooter" value="true" @(Model.Footer.FixedFooter ? "checked=\"checked\"" : "")>
                    @L("UiCustomization_FixedFooter")
                    <span></span>
                </label>
            </div>
        </form>
    </div>
</div>