
@using System.Globalization
@using RASP.AbpTemplate.Web.Areas.App.Models.Common.Modals
@using RASP.AbpTemplate.Web.Areas.App.Models.Products
@model CreateOrEditProductModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditProduct")) : L("CreateNewProduct")))

   
<div class="modal-body">
    <div id="ProductInformationsTab">
        <form name="ProductInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.Product.Id" />
            }


            <div class="form-group m-form__group">
                <label for="RProductCategoryTitle">@L("RProductCategory")</label>
                <div class="input-group">
                    <input class="form-control" id="RProductCategoryTitle" name="rProductCategoryTitle" value="@Model.RProductCategoryTitle" type="text" disabled>
                    <div class="input-group-append">
                        <button class="btn btn-primary blue" id="OpenRProductCategoryLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
                    </div>
                    <div class="input-group-prepend">
                        <button class="btn btn-danger btn-icon" type="button" id="ClearRProductCategoryTitleButton"><i class="fa fa-times"></i></button>
                    </div>
                </div>
            </div>

            @if (Model.IsEditMode)
            {
                <input class="form-control" id="Product_RProductCategoryId" value="@Model.Product.RProductCategoryId" type="text" name="rProductCategoryId" hidden />
            }
            else
            {
                <input class="form-control" id="Product_RProductCategoryId" value="" type="text" name="rProductCategoryId" hidden />
            }




            <div class="form-group">
                <label for="Product_MetaTitle">@L("MetaTitle")</label>
                <input class="form-control" id="Product_MetaTitle" value="@Model.Product.MetaTitle" type="text" name="metaTitle" required maxlength="@RASP.AbpTemplate.RModel.ProductConsts.MaxMetaTitleLength" minlength="@RASP.AbpTemplate.RModel.ProductConsts.MinMetaTitleLength" />
            </div>

            <div class="form-group">
                <label for="Product_MetaDescription">@L("MetaDescription")</label>
                <input class="form-control" id="Product_MetaDescription" value="@Model.Product.MetaDescription" type="text" name="metaDescription" maxlength="@RASP.AbpTemplate.RModel.ProductConsts.MaxMetaDescriptionLength" minlength="@RASP.AbpTemplate.RModel.ProductConsts.MinMetaDescriptionLength" />
            </div>

            <div class="form-group">
                <label for="Product_Title">@L("Title")</label>
                <input class="form-control" id="Product_Title" value="@Model.Product.Title" type="text" name="title" required maxlength="@RASP.AbpTemplate.RModel.ProductConsts.MaxTitleLength" minlength="@RASP.AbpTemplate.RModel.ProductConsts.MinTitleLength" />
            </div>

            <div class="form-group">
                <label for="Product_Description">@L("Description")</label>
                <input class="form-control" id="Product_Description" value="@Model.Product.Description" type="text" name="description" maxlength="@RASP.AbpTemplate.RModel.ProductConsts.MaxDescriptionLength" minlength="@RASP.AbpTemplate.RModel.ProductConsts.MinDescriptionLength" />
            </div>

            <div class="form-group">
                <label for="Product_Content">@L("Content")</label>
                <input class="form-control" id="Product_Content" value="@Model.Product.Content" type="text" name="content" />
            </div>

            <div class="form-group">
                <label for="Product_Priority">@L("Priority")</label>
                <input class="form-control m-input" id="Product_Priority" value="@Model.Product.Priority.ToString(CultureInfo.InvariantCulture)" type="number" name="priority" />
            </div>

            <div class="m-checkbox-list">
                <label for="Product_IsAvailable" class="kt-checkbox">
                    <input id="Product_IsAvailable" type="checkbox" name="isAvailable" value="true" @Html.Raw(Model.Product.IsAvailable ? "checked=\"checked\"" : "") />
                    @L("IsAvailable")
                    <span></span>
                </label>
            </div>

            <div class="m-checkbox-list">
                <label for="Product_IsHot" class="kt-checkbox">
                    <input id="Product_IsHot" type="checkbox" name="isHot" value="true" @Html.Raw(Model.Product.IsHot ? "checked=\"checked\"" : "") />
                    @L("IsHot")
                    <span></span>
                </label>
            </div>

            <div class="m-checkbox-list">
                <label for="Product_IsNew" class="kt-checkbox">
                    <input id="Product_IsNew" type="checkbox" name="isNew" value="true" @Html.Raw(Model.Product.IsNew ? "checked=\"checked\"" : "") />
                    @L("IsNew")
                    <span></span>
                </label>
            </div>

            <div class="form-group">
                <label for="Product_ImageName">@L("ImageName")</label>
                <input class="form-control" id="Product_ImageName" value="@Model.Product.ImageName" type="text" name="imageName" />
            </div>

            <div class="form-group">
                <label for="Product_PriceOrigin">@L("PriceOrigin")</label>
                <input class="form-control m-input" id="Product_PriceOrigin" value="@Model.Product.PriceOrigin?.ToString(CultureInfo.InvariantCulture)" type="number" name="priceOrigin" />
            </div>

            <div class="form-group">
                <label for="Product_PricePromotion">@L("PricePromotion")</label>
                <input class="form-control m-input" id="Product_PricePromotion" value="@Model.Product.PricePromotion?.ToString(CultureInfo.InvariantCulture)" type="number" name="pricePromotion" />
            </div>

            <div class="form-group">
                <label for="Product_Hit">@L("Hit")</label>
                <input class="form-control m-input" id="Product_Hit" value="@Model.Product.Hit.ToString(CultureInfo.InvariantCulture)" type="number" name="hit" />
            </div>

            <div class="form-group">
                <label for="Product_SaleMan">@L("SaleMan")</label>
                <input class="form-control" id="Product_SaleMan" value="@Model.Product.SaleMan" type="text" name="saleMan" maxlength="@RASP.AbpTemplate.RModel.ProductConsts.MaxSaleManLength" minlength="@RASP.AbpTemplate.RModel.ProductConsts.MinSaleManLength" />
            </div>

            <div class="form-group">
                <label for="Product_LinkReference">@L("LinkReference")</label>
                <input class="form-control" id="Product_LinkReference" value="@Model.Product.LinkReference" type="text" name="linkReference" />
            </div>

            <div class="form-group">
                <label for="Product_ImageList">@L("ImageList")</label>
                <input class="form-control" id="Product_ImageList" value="@Model.Product.ImageList" type="text" name="imageList" />
            </div>

            <div class="form-group">
                <label for="Product_IsContact">@L("IsContact")</label>
                <input class="form-control" id="Product_IsContact" value="@Model.Product.IsContact" type="text" name="isContact" />
            </div>

            <div class="form-group">
                <label for="Product_DisplayIsContact">@L("DisplayIsContact")</label>
                <input class="form-control" id="Product_DisplayIsContact" value="@Model.Product.DisplayIsContact" type="text" name="displayIsContact" maxlength="@RASP.AbpTemplate.RModel.ProductConsts.MaxDisplayIsContactLength" minlength="@RASP.AbpTemplate.RModel.ProductConsts.MinDisplayIsContactLength" />
            </div>


        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
