
@using RASP.AbpTemplate.Web.Areas.App.Models.Common.Modals
@using RASP.AbpTemplate.Web.Areas.App.Models.Products
@model ProductViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="ProductInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Title") :</h6>
                @Model.Product.Title
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Priority") :</h6>
                @Model.Product.Priority
            </div>
            <div class="col-6 mb-3">
                <h6>@L("IsAvailable") :</h6>
                @Model.Product.IsAvailable
            </div>
            <div class="col-6 mb-3">
                <h6>@L("IsHot") :</h6>
                @Model.Product.IsHot
            </div>
            <div class="col-6 mb-3">
                <h6>@L("IsNew") :</h6>
                @Model.Product.IsNew
            </div>
            <div class="col-6 mb-3">
                <h6>@L("ImageName") :</h6>
                @Model.Product.ImageName
            </div>
            <div class="col-6 mb-3">
                <h6>@L("PriceOrigin") :</h6>
                @Model.Product.PriceOrigin
            </div>
            <div class="col-6 mb-3">
                <h6>@L("PricePromotion") :</h6>
                @Model.Product.PricePromotion
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Hit") :</h6>
                @Model.Product.Hit
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("RProductCategory")) @L("Title") :</h6>
                @Model.RProductCategoryTitle
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")

