﻿@using RASP.AbpTemplate
@using RASP.AbpTemplate.Localization
@using RASP.AbpTemplate.Web.Areas.App.Models.Accounting
@model InvoiceViewModel

@section styles{
    <link rel="stylesheet" abp-href="/metronic/common/css/invoice-1@(CultureHelper.IsRtl ? ".rtl":"").css" asp-append-version="true" />
}
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="@(await GetContainerClass()) kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet">
            <div class="kt-portlet__body kt-portlet__body--fit">
                <div class="kt-invoice-1">
                    <div class="kt-invoice__head" style="background-image: url(@(ApplicationPath)Common/Images/bg-6.jpg);">
                        <div class="kt-invoice__container">
                            <div class="kt-invoice__brand">
                                <h1 class="kt-invoice__title">@L("Invoice")</h1>

                                <div href="#" class="kt-invoice__logo">
                                    <a href="#"><img src="@(ApplicationPath)Common/Images/app-logo-on-light.svg"></a>

                                    <span class="kt-invoice__desc">
                                        <span>@Model.Invoice.HostLegalName</span>
                                        @foreach (var line in Model.Invoice.HostAddress)
                                        {
                                            <span>@line</span>
                                        }
                                    </span>
                                </div>
                            </div>

                            <div class="kt-invoice__items">
                                <div class="kt-invoice__item">
                                    <span class="kt-invoice__subtitle">@L("Date")</span>
                                    <span class="kt-invoice__text">@Model.Invoice.InvoiceDate.ToString("yyyy-MM-dd")</span>
                                </div>
                                <div class="kt-invoice__item">
                                    <span class="kt-invoice__subtitle">@L("Invoice")</span>
                                    <span class="kt-invoice__text">#@Model.Invoice.InvoiceNo</span>
                                </div>
                                <div class="kt-invoice__item">
                                    <span class="kt-invoice__subtitle">@L("InvoiceTo")</span>
                                    <span class="kt-invoice__text">
                                        @Model.Invoice.TenantLegalName
                                        @foreach (var line in Model.Invoice.TenantAddress)
                                        {
                                            <br />@line
                                        }
                                        <br />@L("Tax/VatNo"): @Model.Invoice.TenantTaxNo
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kt-invoice__body">
                        <div class="kt-invoice__container">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th style="width: 50px;">#</th>
                                            <th>@L("Edition")</th>
                                            <th style="width: 100px;">@L("Amount")</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>@Model.Invoice.EditionDisplayName </td>
                                            <td>@AbpTemplateConsts.CurrencySign@Model.Invoice.Amount </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="kt-invoice__footer">
                        <div class="kt-invoice__container">
                            <div class="kt-invoice__bank">
                                
                            </div>
                            <div class="kt-invoice__total">
                                <span class="kt-invoice__title">@L("Total")</span>
                                <span class="kt-invoice__price">@AbpTemplateConsts.CurrencySign@Model.Invoice.Amount.ToString("N2")</span>
                                <span class="kt-invoice__notice"></span>
                            </div>
                        </div>
                    </div>
                    <div class="kt-invoice__actions">
                        <div class="kt-invoice__container">
                            <button type="button" class="btn btn-brand btn-bold" onclick="window.print();">@L("Print")</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
