
@using System.Globalization
@using RASP.AbpTemplate.Web.Areas.App.Models.Common.Modals
@using RASP.AbpTemplate.Web.Areas.App.Models.SurveyResults

@{ 
    
}


@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditSurveyResult")) : L("CreateNewSurveyResult")))

<div class="modal-body">
    <div id="SurveyResultInformationsTab">
        <form name="SurveyResultInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.SurveyResult.Id" />
            }


            <div class="form-group m-form__group">
                <label for="SurveyTitle">@L("Survey")</label>
                <div class="input-group">
                    <input class="form-control" id="SurveyTitle" name="surveyTitle" value="@Model.SurveyTitle" type="text" disabled>
                    <div class="input-group-append">
                        <button class="btn btn-primary blue" id="OpenSurveyLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
                    </div>
                    <div class="input-group-prepend">
                        <button class="btn btn-danger btn-icon" type="button" id="ClearSurveyTitleButton"><i class="fa fa-times"></i></button>
                    </div>
                </div>
            </div>

            @if (Model.IsEditMode)
            {
                <input class="form-control" id="SurveyResult_SurveyId" value="@Model.SurveyResult.SurveyId" type="text" name="surveyId" required hidden />
            }
            else
            {
                <input class="form-control" id="SurveyResult_SurveyId" value="" type="text" name="surveyId" required hidden />
            }


            <div class="form-group m-form__group">
                <label for="UserName">@L("User")</label>
                <div class="input-group">
                    <input class="form-control" id="UserName" name="userName" value="@Model.UserName" type="text" disabled>
                    <div class="input-group-append">
                        <button class="btn btn-primary blue" id="OpenUserLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
                    </div>
                    <div class="input-group-prepend">
                        <button class="btn btn-danger btn-icon" type="button" id="ClearUserNameButton"><i class="fa fa-times"></i></button>
                    </div>
                </div>
            </div>

            @if (Model.IsEditMode)
            {
                <input class="form-control" id="SurveyResult_UserId" value="@Model.SurveyResult.UserId" type="text" name="userId" required hidden />
            }
            else
            {
                <input class="form-control" id="SurveyResult_UserId" value="" type="text" name="userId" required hidden />
            }




            <div class="form-group">
                <label for="SurveyResult_Text">@L("Text")</label>
                <input class="form-control" id="SurveyResult_Text" value="@Model.SurveyResult.Text" type="text" name="text" />
            </div>

            <div class="form-group">
                <label for="SurveyResult_Json">@L("Json")</label>
                <input readonly class="form-control" id="SurveyResult_Json" value="@Model.SurveyResult.Json" type="text" name="json" />
            </div>
            
            


        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
