
@using RASP.AbpTemplate.Web.Areas.App.Models.Common.Modals
@using RASP.AbpTemplate.Web.Areas.App.Models.SurveyResults
@using Newtonsoft.Json;
@model SurveyResultViewModel
@{
    
}
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="SurveyResultInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Text") :</h6>
                @Model.SurveyResult.Text
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Json") :</h6>
                @Model.SurveyResult.Json
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("Survey")) @L("Title") :</h6>
                @Model.SurveyTitle
            </div>
            <div class="col-6 mb-3">
                <h6>(@L("User")) @L("Name") :</h6>
                @Model.UserName
            </div>

        </div>
        
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")

