﻿@using Abp.Application.Services.Dto
@using RASP.AbpTemplate.Authorization
@using RASP.AbpTemplate.Web.Areas.App.Models.Users
@using RASP.AbpTemplate.Web.Areas.App.Startup

@model UsersViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Common.Users;
}

@section Styles
    {
    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/Users/Index.css" asp-append-version="true" />
}

@section Scripts
    {
    <script abp-src="/view-resources/Areas/App/Views/_Bundles/user-list.js" asp-append-version="true"></script>
}
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item">
        <div class="@(await GetContainerClass())">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    <span>@L("Users")</span>
                </h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <span class="kt-subheader__desc">
                    @L("UsersHeaderInfo")
                </span>
            </div>
            <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="far fa-file-excel"></i> @L("ExcelOperations")
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" id="ExportUsersToExcelButton" href="#"> @L("ExportToExcel")</a>
                            <a class="dropdown-item" href="#">
                                <span class="fileinput-button">
                                    <span>@L("ImportFromExcel")</span>
                                    <input id="ImportUsersFromExcelButton" type="file" name="files" accept=".xlsx, .xls, .csv">
                                </span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <span class="dropdown-item-text text-muted pl-3" href="#">
                                <small class="pl-2"> @Html.Raw(L("ImportToExcelSampleFileDownloadInfo", "<a href='" + (ApplicationPath) + "assets/SampleFiles/ImportUsersSampleFile.xlsx" + "'>" + L("ClickHere") + "</a>"))</small>
                            </span>
                        </div>
                    </div>

                    @if (IsGranted(AppPermissions.Pages_Administration_Users_Create))
                    {
                        <button id="CreateNewUserButton" class="btn btn-primary"><i class="fa fa-plus"></i> @L("CreateNewUser")</button>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="@(await GetContainerClass()) kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="kt-form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="form-group align-items-center">
                                <div class="input-group">
                                    <input type="text" id="UsersTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                    <span class="input-group-btn">
                                        <button id="GetUsersButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1" aria-label="@L("Search")"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                        <div class="@(IsGranted(AppPermissions.Pages_Administration_Roles) ? "col-xl-6" : "col-xl-12")">
                            <div class="form-group">
                                <button class="btn btn-default btn-block" id="FilterByPermissionsButton">@L("SelectPermissions") (<span id="NumberOfFilteredPermission">0</span>)</button>
                            </div>
                        </div>
                        @if (IsGranted(AppPermissions.Pages_Administration_Roles))
                        {
                            <div class="col-xl-6">
                                <div class="form-group">
                                    @Html.DropDownList(
                                        "RoleSelectionCombobox", Model.Roles.Select(i => i.ToSelectListItem()),
                                        new
                                        {
                                            @class = "form-control selectpicker",
                                            data_live_search = "true",
                                            data_none_selected_text = L("FilterByRole"),
                                            id = "RoleSelectionCombo"
                                        })
                                </div>
                            </div>
                        }
                        <div class="col-xl-6">
                            <div class="kt-checkbox-list">
                                <label class="kt-checkbox">
                                    <input type="checkbox"
                                           id="UsersTable_OnlyLockedUsers"
                                           name="OnlyLockedUsersCheckbox"
                                           value="true">
                                    @L("OnlyLockedUsers")
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-xl-12 text-right">
                            <button id="RefreshUserListButton" class="btn btn-primary"><i class="fa fa-sync"></i> @L("Refresh")</button>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-xl-12">
                            <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                            <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                        </div>
                    </div>
                </div>
                <div class="align-items-center">
                    <table id="UsersTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>
                                <th>@L("Actions")</th>
                                <th>@L("UserName")</th>
                                <th>@L("Name")</th>
                                <th>@L("Surname")</th>
                                <th>@L("Roles")</th>
                                <th>@L("EmailAddress")</th>
                                <th>@L("EmailConfirm")</th>
                                <th>@L("Active")</th>
                                <th>@L("CreationTime")</th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>