
@using System.Globalization
@using RASP.AbpTemplate.Web.Areas.App.Models.Common.Modals
@using RASP.AbpTemplate.Web.Areas.App.Models.RMailCustomers
@model CreateOrEditRMailCustomerModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditRMailCustomer")) : L("CreateNewRMailCustomer")))

<div class="modal-body">
        <div id="RMailCustomerInformationsTab">
            <form name="RMailCustomerInformationsForm" role="form" novalidate class="form-validation">

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="id" value="@Model.RMailCustomer.Id" />
                }

				

				
								<div class="form-group">
									<label for="RMailCustomer_Name">@L("Name")</label>
									<input class="form-control" id="RMailCustomer_Name" value="@Model.RMailCustomer.Name" type="text" name="name"   maxlength="@RASP.AbpTemplate.RMarketing.RMailCustomerConsts.MaxNameLength"  minlength="@RASP.AbpTemplate.RMarketing.RMailCustomerConsts.MinNameLength"  />
								</div>
					
								<div class="form-group">
									<label for="RMailCustomer_Email">@L("Email")</label>
									<input class="form-control" id="RMailCustomer_Email" value="@Model.RMailCustomer.Email" type="text" name="email"  required  maxlength="@RASP.AbpTemplate.RMarketing.RMailCustomerConsts.MaxEmailLength"  minlength="@RASP.AbpTemplate.RMarketing.RMailCustomerConsts.MinEmailLength"  />
								</div>
					
								<div class="form-group">
									<label for="RMailCustomer_PrivateCode">@L("PrivateCode")</label>
									<input class="form-control" id="RMailCustomer_PrivateCode" value="@Model.RMailCustomer.PrivateCode" type="text" name="privateCode"   maxlength="@RASP.AbpTemplate.RMarketing.RMailCustomerConsts.MaxPrivateCodeLength"  minlength="@RASP.AbpTemplate.RMarketing.RMailCustomerConsts.MinPrivateCodeLength"  />
								</div>
					
								<div class="form-group">
									<label for="RMailCustomer_ContentMail">@L("ContentMail")</label>
									<input class="form-control" id="RMailCustomer_ContentMail" value="@Model.RMailCustomer.ContentMail" type="text" name="contentMail"     />
								</div>
					
								<div class="form-group">
									<label for="RMailCustomer_PhoneNumber">@L("PhoneNumber")</label>
									<input class="form-control" id="RMailCustomer_PhoneNumber" value="@Model.RMailCustomer.PhoneNumber" type="text" name="phoneNumber"   maxlength="@RASP.AbpTemplate.RMarketing.RMailCustomerConsts.MaxPhoneNumberLength"  minlength="@RASP.AbpTemplate.RMarketing.RMailCustomerConsts.MinPhoneNumberLength"  />
								</div>
					

            </form>
        </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
