
@using RASP.AbpTemplate.Web.Areas.App.Models.Common.Modals
@using RASP.AbpTemplate.Web.Areas.App.Models.RMailCustomers
@model RMailCustomerViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="RMailCustomerInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Name") :</h6>
                @Model.RMailCustomer.Name
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Email") :</h6>
                @Model.RMailCustomer.Email
            </div>
            <div class="col-6 mb-3">
                <h6>@L("PrivateCode") :</h6>
                @Model.RMailCustomer.PrivateCode
            </div>
            <div class="col-6 mb-3">
                <h6>@L("PhoneNumber") :</h6>
                @Model.RMailCustomer.PhoneNumber
            </div>


        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")

