﻿@using RASP.AbpTemplate.Authorization
@using RASP.AbpTemplate.Web.Areas.App.Models.RMailCustomers
@using RASP.AbpTemplate.Web.Areas.App.Startup
@using System.Web
@using Microsoft.AspNetCore.Http.Extensions;
@model RMailCustomersViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Common.RMailCustomers;
    var path = UriHelper.GetEncodedPathAndQuery(Context.Request);
    if(!string.IsNullOrEmpty(path) && path.Contains("?"))
    {
        path = "/CityLand/Survey/?" + path.Split('?')[1];
    }

    var domain = Context.Request.Scheme + "://" + Context.Request.Host.Value + path;
}
@section Scripts
    {
    <script abp-src="/view-resources/Areas/App/Views/RMailCustomers/Index.js" asp-append-version="true"></script>
}
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item">
        <div class="@(await GetContainerClass())">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    <span>@L("RMailCustomers")</span>
                </h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <span class="kt-subheader__desc">
                    @L("RMailCustomersHeaderInfo")
                </span>
            </div>
            <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper">
                    <button id="SendMailButton" class="btn btn-outline-dark"><i class="fa fa-paper-plane"></i> @L("SendMail")</button>
                    <button id="ExportToExcelButton" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>
                    @if (IsGranted(AppPermissions.Pages_Administration_RMailCustomers_Create))
                    {
                        <button id="CreateNewRMailCustomerButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewRMailCustomer")</button>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="@(await GetContainerClass()) kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="kt-form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="form-group align-items-center">
                                <div class="input-group">
                                    <input type="text" id="RMailCustomersTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                    <span class="input-group-btn">
                                        <button id="GetRMailCustomersButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="form-group align-items-center">
                                <input id="Subject" class="form-control m-input" placeholder="Tiêu đề email" value="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-form">
                    <input type="hidden" id="Domain" value="@domain" />
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="form-group align-items-center">
                                <textarea id="ContentMail" class="form-control m-input" placeholder="Nhập nội dung email" value=""></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
                        <div class="kt-separator kt-separator--border-dashed"></div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="NameFilterId">@L("Name")</label>
                            <input type="text" class="form-control" name="nameFilter" id="NameFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="EmailFilterId">@L("Email")</label>
                            <input type="text" class="form-control" name="emailFilter" id="EmailFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="PrivateCodeFilterId">@L("PrivateCode")</label>
                            <input type="text" class="form-control" name="privateCodeFilter" id="PrivateCodeFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="ContentMailFilterId">@L("ContentMail")</label>
                            <input type="text" class="form-control" name="contentMailFilter" id="ContentMailFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="PhoneNumberFilterId">@L("PhoneNumber")</label>
                            <input type="text" class="form-control" name="phoneNumberFilter" id="PhoneNumberFilterId">
                        </div>
                    </div>

                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="RMailCustomersTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>@L("Actions")</th>
                                <th>@L("Name")</th>
                                <th>@L("Email")</th>
                                <th>@L("PrivateCode")</th>
                                <th>@L("PhoneNumber")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>