
@using System.Globalization
@using RASP.AbpTemplate.Web.Areas.App.Models.Common.Modals
@using RASP.AbpTemplate.Web.Areas.App.Models.PersonAnswers
@model CreateOrEditPersonAnswerModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditPersonAnswer")) : L("CreateNewPersonAnswer")))

<div class="modal-body">
        <div id="PersonAnswerInformationsTab">
            <form name="PersonAnswerInformationsForm" role="form" novalidate class="form-validation">

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="id" value="@Model.PersonAnswer.Id" />
                }

				            
								<div class="form-group m-form__group">
										<label for="SurveyTitle">@L("Survey")</label>
									    <div class="input-group">
											<input class="form-control" id="SurveyTitle" name="surveyTitle" value="@Model.SurveyTitle" type="text" disabled>
										<div class="input-group-append">
											<button class="btn btn-primary blue" id="OpenSurveyLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
										</div> 
										<div class="input-group-prepend">
											<button class="btn btn-danger btn-icon" type="button" id="ClearSurveyTitleButton"><i class="fa fa-times"></i></button>
										</div>
									</div>
								</div>

								@if (Model.IsEditMode)
								{
									<input class="form-control" id="PersonAnswer_SurveyId" value="@Model.PersonAnswer.SurveyId" type="text" name="surveyId"  hidden/>
								}
								 else
								{ 
									<input class="form-control" id="PersonAnswer_SurveyId" value="" type="text" name="surveyId"  hidden/>
								}

            
								<div class="form-group m-form__group">
										<label for="QuestionQuestionText">@L("Question")</label>
									    <div class="input-group">
											<input class="form-control" id="QuestionQuestionText" name="questionQuestionText" value="@Model.QuestionQuestionText" type="text" disabled>
										<div class="input-group-append">
											<button class="btn btn-primary blue" id="OpenQuestionLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
										</div> 
										<div class="input-group-prepend">
											<button class="btn btn-danger btn-icon" type="button" id="ClearQuestionQuestionTextButton"><i class="fa fa-times"></i></button>
										</div>
									</div>
								</div>

								@if (Model.IsEditMode)
								{
									<input class="form-control" id="PersonAnswer_QuestionId" value="@Model.PersonAnswer.QuestionId" type="text" name="questionId"  hidden/>
								}
								 else
								{ 
									<input class="form-control" id="PersonAnswer_QuestionId" value="" type="text" name="questionId"  hidden/>
								}

            
								<div class="form-group m-form__group">
										<label for="AnswerAnswerText">@L("Answer")</label>
									    <div class="input-group">
											<input class="form-control" id="AnswerAnswerText" name="answerAnswerText" value="@Model.AnswerAnswerText" type="text" disabled>
										<div class="input-group-append">
											<button class="btn btn-primary blue" id="OpenAnswerLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
										</div> 
										<div class="input-group-prepend">
											<button class="btn btn-danger btn-icon" type="button" id="ClearAnswerAnswerTextButton"><i class="fa fa-times"></i></button>
										</div>
									</div>
								</div>

								@if (Model.IsEditMode)
								{
									<input class="form-control" id="PersonAnswer_AnswerId" value="@Model.PersonAnswer.AnswerId" type="text" name="answerId"  hidden/>
								}
								 else
								{ 
									<input class="form-control" id="PersonAnswer_AnswerId" value="" type="text" name="answerId"  hidden/>
								}



				
								<div class="form-group">
									<label for="PersonAnswer_OtherText">@L("OtherText")</label>
									<input class="form-control" id="PersonAnswer_OtherText" value="@Model.PersonAnswer.OtherText" type="text" name="otherText"     />
								</div>
					

            </form>
        </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
