
@using RASP.AbpTemplate.Web.Areas.App.Models.Common.Modals
@using RASP.AbpTemplate.Web.Areas.App.Models.PersonAnswers
@model PersonAnswerViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="PersonAnswerInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("OtherText") :</h6>
                @Model.PersonAnswer.OtherText
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("Survey")) @L("Title") :</h6>
                @Model.SurveyTitle
            </div>
            <div class="col-6 mb-3">
                <h6>(@L("Question")) @L("QuestionText") :</h6>
                @Model.QuestionQuestionText
            </div>
            <div class="col-6 mb-3">
                <h6>(@L("Answer")) @L("AnswerText") :</h6>
                @Model.AnswerAnswerText
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")

