﻿@using Abp.Application.Services.Dto
@using RASP.AbpTemplate
@using Abp.Timing;
@using RASP.AbpTemplate.Web.Areas.App.Models.Settings
@using RASP.AbpTemplate.Web.Areas.App.Startup
@model SettingsViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Tenant.Settings;
}
@section Scripts
    {
    <script abp-src="/view-resources/Areas/App/Views/Settings/Index.js" asp-append-version="true"></script>
}

<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

    <div class="kt-subheader kt-grid__item">
        <div class="@(await GetContainerClass())">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    <span>@L("Settings")</span>
                </h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <span class="kt-subheader__desc">
                    @L("SettingsHeaderInfo")
                </span>
            </div>
            <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper">
                    <button id="SaveAllSettingsButton" class="btn btn-primary"><i class="fa fa-save"></i> @L("SaveAll")</button>
                </div>
            </div>
        </div>
    </div>

    <div class="@(await GetContainerClass()) kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet">
            <div class="kt-portlet__body">
                <div id="SettingsTabPanel" class="tabbable-line">
                    <ul class="nav nav-tabs" role="tablist">
                        @if (Clock.SupportsMultipleTimezone)
                        {
                            <li class="nav-item">
                                <a href="#SettingsGeneralTab" aria-expanded="true" class="nav-link active" data-toggle="tab" role="tab">
                                    @L("General")
                                </a>
                            </li>
                        }

                        <li class="nav-item">
                            <a href="#SettingsAppearanceTab" aria-expanded="false" class="nav-link @((!Clock.SupportsMultipleTimezone) ? "active" : "")" data-toggle="tab" role="tab">
                                @L("Appearance")
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#SettingsUserManagementTab" aria-expanded="true" class="nav-link" data-toggle="tab" role="tab">
                                @L("UserManagement")
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#SecurityManagementTab" aria-expanded="true" class="nav-link" data-toggle="tab" role="tab">
                                @L("Security")
                            </a>
                        </li>

                        @if (!ViewBag.IsMultiTenancyEnabled || AbpTemplateConsts.AllowTenantsToChangeEmailSettings)
                        {
                            <li class="nav-item">
                                <a href="#SettingsEmailSmtpTab" aria-expanded="true" class="nav-link" data-toggle="tab" role="tab">
                                    @L("EmailSmtp")
                                </a>
                            </li>
                        }

                        @if (ViewBag.IsMultiTenancyEnabled)
                        {
                            <li class="nav-item">
                                <a href="#BillingTab" aria-expanded="true" class="nav-link" data-toggle="tab" role="tab">
                                    @L("Invoice")
                                </a>
                            </li>
                        }

                        @if (!ViewBag.IsMultiTenancyEnabled)
                        {
                            <li class="nav-item">
                                <a href="#OtherSettingsTab" aria-expanded="true" class="nav-link" data-toggle="tab" role="tab">
                                    @L("OtherSettings")
                                </a>
                            </li>
                        }
                    </ul>

                    <div class="tab-content">

                        @if (Clock.SupportsMultipleTimezone)
                        {
                            <div class="tab-pane active" id="SettingsGeneralTab">
                                <form id="GeneralSettingsForm">
                                    <div class="form-group">
                                        <label for="Timezone">@L("Timezone")</label>
                                        @Html.DropDownList("Timezone", Model.TimezoneItems.Select(i => i.ToSelectListItem()), new { @class = "form-control", id = "Timezone" })
                                    </div>
                                    <div>
                                        @Html.Hidden("TimezoneForComparison", Model.Settings.General.TimezoneForComparison)
                                    </div>
                                </form>
                            </div>
                        }

                        <div class="tab-pane @((!Clock.SupportsMultipleTimezone) ? "active" : "")" id="SettingsAppearanceTab">
                            <div class="row">
                                <div class="col-sm-6">
                                    <form id="SettingsLogoUploadForm" method="POST" action="@Url.Action("UploadLogo", "TenantCustomization", new {area = string.Empty})">
                                        <h5>@L("ApplicationLogo")</h5>
                                        @if (ViewBag.TenantLogoId != null)
                                        {
                                            <div class="form-group" style="background: url(/Common/Images/transparent_background.png); width: 50%; padding: 5px;">
                                                <a href="@Url.Action("GetLogo", "TenantCustomization", new { area = string.Empty, tenantId = ViewBag.TenantId })" target="_blank">
                                                    <img height="38" src="@Url.Action("GetLogo", "TenantCustomization", new { area = string.Empty, tenantId = ViewBag.TenantId })">
                                                </a>
                                            </div>
                                        }
                                        <div class="form-group">
                                            <input type="file" name="ApplicationLogoImage" class="col-lg-12" />
                                            <span class="form-text text-muted col-lg-12">@L("UploadLogo_Info")</span>
                                        </div>
                                        <button class="btn btn-primary" type="submit">@L("Upload")</button>
                                        <button class="btn btn-default" type="reset">@L("Clear")</button>
                                    </form>
                                </div>
                                <div class="col-sm-6">
                                    <form id="SettingsCustomCssUploadForm" method="POST" action="@Url.Action("UploadCustomCss", "TenantCustomization", new {area = string.Empty})">
                                        <h5>@L("CustomCSS")</h5>
                                        @if (ViewBag.TenantCustomCssId != null)
                                        {
                                            <p>
                                                <a href="@Url.Action("GetCustomCss", "TenantCustomization", new { area = string.Empty, tenantId = ViewBag.TenantId })" target="_blank">@L("Download")</a>
                                            </p>
                                        }
                                        <div class="form-group">
                                            <input type="file" name="CustomCssFile" class="col-lg-12" />
                                            <span class="form-text text-muted col-lg-12">@L("UploadCSS_Info")</span>
                                        </div>
                                        <button class="btn btn-primary" type="submit">@L("Upload")</button>
                                        <button class="btn btn-default" type="reset">@L("Clear")</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="SettingsUserManagementTab">

                            <form id="FormBasedRegistrationSettingsForm" class="kt-form">
                                <h5>@L("FormBasedRegistration")</h5>
                                <div class="kt-checkbox-list">
                                    <div class="form-group">
                                        <label for="Setting_AllowSelfRegistration" class="kt-checkbox col-lg-12">
                                            <input id="Setting_AllowSelfRegistration" type="checkbox" name="AllowSelfRegistration" value="true" @(Model.Settings.UserManagement.AllowSelfRegistration ? "checked=\"checked\"" : "")>
                                            @L("AllowUsersToRegisterThemselves")
                                            <span></span>
                                        </label>
                                        <span class="form-text text-muted">@L("AllowUsersToRegisterThemselves_Hint")</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="Setting_IsNewRegisteredUserActiveByDefault" class="kt-checkbox col-lg-12">
                                            <input id="Setting_IsNewRegisteredUserActiveByDefault" type="checkbox" name="IsNewRegisteredUserActiveByDefault" value="true" @(Model.Settings.UserManagement.IsNewRegisteredUserActiveByDefault ? "checked=\"checked\"" : "")>
                                            @L("NewRegisteredUsersIsActiveByDefault")
                                            <span></span>
                                        </label>
                                        <span class="form-text text-muted">@L("NewRegisteredUsersIsActiveByDefault_Hint")</span>
                                    </div>
                                    <label for="Setting_UseCaptchaOnRegistration" class="kt-checkbox">
                                        <input id="Setting_UseCaptchaOnRegistration" type="checkbox" name="UseCaptchaOnRegistration" value="true" @(Model.Settings.UserManagement.UseCaptchaOnRegistration ? "checked=\"checked\"" : "")>
                                        @L("UseCaptchaOnRegistration")
                                        <span></span>
                                    </label>
                                    <label for="Setting_UseCaptchaOnLogin" class="kt-checkbox">
                                        <input id="Setting_UseCaptchaOnLogin" type="checkbox" name="UseCaptchaOnLogin" value="true" @(Model.Settings.UserManagement.UseCaptchaOnLogin ? "checked=\"checked\"" : "")>
                                        @L("UseCaptchaOnLogin")
                                        <span></span>
                                    </label>
                                    <h5>@L("SessionTimeOut")</h5>
                                    <label for="Setting_IsSessionTimeOutEnabled" class="kt-checkbox">
                                        <input id="Setting_IsSessionTimeOutEnabled" type="checkbox" name="IsEnabled" value="true" @(Model.Settings.UserManagement.SessionTimeOutSettings.IsEnabled ? "checked=\"checked\"" : "")>
                                        @L("IsSessionTimeOutEnabled")
                                        <span></span>
                                    </label>
                                    <div class="divSessionTimeOut">
                                        <div class="form-group">
                                            <label for="Setting_SessionTimeOutSecond">@L("SessionTimeOutSecond")</label>
                                            <input id="Setting_SessionTimeOutSecond" type="number" name="TimeOutSecond" class="form-control edited" min="10" value="@Model.Settings.UserManagement.SessionTimeOutSettings.TimeOutSecond">
                                        </div>
                                        <div class="form-group">
                                            <label for="Setting_ShowTimeOutNotificationSecond">@L("ShowTimeOutNotificationSecond")</label>
                                            <input id="Setting_ShowTimeOutNotificationSecond" type="number" name="ShowTimeOutNotificationSecond" class="form-control edited" min="10" value="@Model.Settings.UserManagement.SessionTimeOutSettings.ShowTimeOutNotificationSecond">
                                        </div>
                                    </div>
                                </div>
                            </form>

                            @if (!ViewBag.IsMultiTenancyEnabled && Model.Settings.Ldap.IsModuleEnabled)
                            {
                                <form id="LdapSettingsForm">
                                    <h5 class="margin-top-20">@L("LdapSettings")</h5>
                                    <label for="Setting_LdapIsEnabled" class="kt-checkbox">
                                        <input id="Setting_LdapIsEnabled" type="checkbox" name="IsEnabled" value="true" @(Model.Settings.Ldap.IsEnabled ? "checked=\"checked\"" : "")>
                                        @L("EnableLdapAuthentication")
                                        <span></span>
                                    </label>
                                    <div class="form-group">
                                        <label for="Domain">@L("DomainName")</label>
                                        <input id="Domain" type="text" name="Domain" class="form-control" value="@Model.Settings.Ldap.Domain" maxlength="128">
                                    </div>
                                    <div class="form-group">
                                        <label for="UserName">@L("UserName")</label>
                                        <input id="UserName" type="text" name="UserName" class="form-control" value="@Model.Settings.Ldap.UserName" maxlength="128">
                                    </div>
                                    <div class="form-group">
                                        <label for="Password">@L("Password")</label>
                                        <input id="Password" type="password" name="Password" class="form-control" value="@Model.Settings.Ldap.Password" maxlength="128" autocomplete="new-password">
                                    </div>
                                </form>
                            }

                            <form id="OtherSettingsForm">
                                <h5 class="margin-top-20">@L("OtherSettings")</h5>
                                <label for="Settings_IsEmailConfirmationRequiredForLogin" class="kt-checkbox">
                                    <input id="Settings_IsEmailConfirmationRequiredForLogin" class="md-check" type="checkbox" name="IsEmailConfirmationRequiredForLogin" value="true" @(Model.Settings.UserManagement.IsEmailConfirmationRequiredForLogin ? "checked=\"checked\"" : "")>
                                    @L("EmailConfirmationRequiredForLogin")
                                    <span></span>
                                </label>
                                <h5>@L("CookieConsent")</h5>
                                <label for="Setting_IsCookieConsentEnabled" class="kt-checkbox">
                                    <input id="Setting_IsCookieConsentEnabled" type="checkbox" name="IsCookieConsentEnabled" value="true" @(Model.Settings.UserManagement.IsCookieConsentEnabled ? "checked=\"checked\"" : "")>
                                    @L("IsCookieConsentEnabled")
                                    <span></span>
                                </label>
                            </form>
                        </div>

                        <div id="SecurityManagementTab" class="tab-pane">
                            <div>
                                <h5>@L("PasswordComplexity")</h5>
                                <label for="Setting_PasswordComplexity_UseDefaultSettings" class="kt-checkbox">
                                    <input id="Setting_PasswordComplexity_UseDefaultSettings" type="checkbox" name="UseDefaultSettings" value="true" @(Model.Settings.Security.UseDefaultPasswordComplexitySettings ? "checked=\"checked\"" : "")>
                                    @L("UseDefaultSettings")
                                    <span></span>
                                </label>
                                <form id="PasswordComplexitySettingsForm" style="@(Model.Settings.Security.UseDefaultPasswordComplexitySettings ? "display:none;" : "")">
                                    <div class="kt-checkbox-list">
                                        <label for="Setting_PasswordComplexity_RequireDigit" class="kt-checkbox">
                                            <input id="Setting_PasswordComplexity_RequireDigit" type="checkbox" name="RequireDigit" value="true" @(Model.Settings.Security.PasswordComplexity.RequireDigit ? "checked=\"checked\"" : "")>
                                            @L("PasswordComplexity_RequireDigit")
                                            <span></span>
                                        </label>
                                        <label for="Setting_PasswordComplexity_RequireLowercase" class="kt-checkbox">
                                            <input id="Setting_PasswordComplexity_RequireLowercase" type="checkbox" name="RequireLowercase" value="true" @(Model.Settings.Security.PasswordComplexity.RequireLowercase ? "checked=\"checked\"" : "")>
                                            @L("PasswordComplexity_RequireLowercase")
                                            <span></span>
                                        </label>
                                        <label for="Setting_PasswordComplexity_RequireNonAlphanumeric" class="kt-checkbox">
                                            <input id="Setting_PasswordComplexity_RequireNonAlphanumeric" type="checkbox" name="RequireNonAlphanumeric" value="true" @(Model.Settings.Security.PasswordComplexity.RequireNonAlphanumeric ? "checked=\"checked\"" : "")>
                                            @L("PasswordComplexity_RequireNonAlphanumeric")
                                            <span></span>
                                        </label>
                                        <label for="Setting_PasswordComplexity_RequireUppercase" class="kt-checkbox">
                                            <input id="Setting_PasswordComplexity_RequireUppercase" type="checkbox" name="RequireUppercase" value="true" @(Model.Settings.Security.PasswordComplexity.RequireUppercase ? "checked=\"checked\"" : "")>
                                            @L("PasswordComplexity_RequireUppercase")
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label for="RequiredLength">@L("PasswordComplexity_RequiredLength")</label>
                                        <input id="RequiredLength" type="number" name="RequiredLength" class="form-control" value="@Model.Settings.Security.PasswordComplexity.RequiredLength">
                                    </div>
                                </form>
                                <form id="DefaultPasswordComplexitySettingsForm" style="@(!Model.Settings.Security.UseDefaultPasswordComplexitySettings ? "display:none;" : "")">
                                    <div class="kt-checkbox-list">
                                        <label for="Setting_DefaultPasswordComplexity_RequireDigit" class="kt-checkbox">
                                            <input id="Setting_DefaultPasswordComplexity_RequireDigit" type="checkbox" name="RequireDigit" value="true" @(Model.Settings.Security.DefaultPasswordComplexity.RequireDigit ? "checked=\"checked\"" : "") disabled>
                                            @L("PasswordComplexity_RequireDigit")
                                            <span></span>
                                        </label>
                                        <label for="Setting_DefaultPasswordComplexity_RequireLowercase" class="kt-checkbox">
                                            <input id="Setting_DefaultPasswordComplexity_RequireLowercase" type="checkbox" name="RequireLowercase" value="true" @(Model.Settings.Security.DefaultPasswordComplexity.RequireLowercase ? "checked=\"checked\"" : "") disabled>
                                            @L("PasswordComplexity_RequireLowercase")
                                            <span></span>
                                        </label>
                                        <label for="Setting_DefaultPasswordComplexity_RequireNonAlphanumeric" class="kt-checkbox">
                                            <input id="Setting_DefaultPasswordComplexity_RequireNonAlphanumeric" type="checkbox" name="RequireNonAlphanumeric" value="true" @(Model.Settings.Security.DefaultPasswordComplexity.RequireNonAlphanumeric ? "checked=\"checked\"" : "") disabled>
                                            @L("PasswordComplexity_RequireNonAlphanumeric")
                                            <span></span>
                                        </label>
                                        <label for="Setting_DefaultPasswordComplexity_RequireUppercase" class="kt-checkbox">
                                            <input id="Setting_DefaultPasswordComplexity_RequireUppercase" type="checkbox" name="RequireUppercase" value="true" @(Model.Settings.Security.DefaultPasswordComplexity.RequireUppercase ? "checked=\"checked\"" : "") disabled>
                                            @L("PasswordComplexity_RequireUppercase")
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label for="RequiredLength">@L("PasswordComplexity_RequiredLength")</label>
                                        <input id="RequiredLength" type="number" name="RequiredLength" class="form-control" value="@Model.Settings.Security.DefaultPasswordComplexity.RequiredLength" disabled>
                                    </div>
                                </form>
                            </div>

                            <div>
                                <h5>@L("UserLockOut")</h5>
                                <form id="UserLockOutSettingsForm">
                                    <label for="Setting_UserLockOut_IsEnabled" class="kt-checkbox">
                                        <input id="Setting_UserLockOut_IsEnabled" type="checkbox" name="IsEnabled" value="true" @(Model.Settings.Security.UserLockOut.IsEnabled ? "checked=\"checked\"" : "")>
                                        @L("EnableUserAccountLockingOnFailedLoginAttemts")
                                        <span></span>
                                    </label>
                                    <div class="form-group">
                                        <label for="MaxFailedAccessAttemptsBeforeLockout">@L("MaxFailedAccessAttemptsBeforeLockout")</label>
                                        <input id="MaxFailedAccessAttemptsBeforeLockout" type="number" name="MaxFailedAccessAttemptsBeforeLockout" class="form-control" value="@Model.Settings.Security.UserLockOut.MaxFailedAccessAttemptsBeforeLockout">
                                    </div>
                                    <div class="form-group">
                                        <label for="DefaultAccountLockoutSeconds">@L("DefaultAccountLockoutDurationAsSeconds")</label>
                                        <input id="DefaultAccountLockoutSeconds" type="number" name="DefaultAccountLockoutSeconds" class="form-control" value="@Model.Settings.Security.UserLockOut.DefaultAccountLockoutSeconds">
                                    </div>
                                </form>
                            </div>

                            @if (!ViewBag.IsMultiTenancyEnabled || Model.Settings.Security.TwoFactorLogin.IsEnabledForApplication)
                            {
                                <div>
                                    <h5>@L("TwoFactorLogin")</h5>
                                    <form id="TwoFactorLoginSettingsForm">
                                        <div class="kt-checkbox-list">
                                            <label for="Setting_TwoFactorLogin_IsEnabled" class="kt-checkbox">
                                                <input id="Setting_TwoFactorLogin_IsEnabled" type="checkbox" name="IsEnabled" value="true" @(Model.Settings.Security.TwoFactorLogin.IsEnabled ? "checked=\"checked\"" : "")>
                                                @L("EnableTwoFactorLogin")
                                                <span></span>
                                            </label>
                                            @if (!ViewBag.IsMultiTenancyEnabled)
                                            {
                                                <label for="Setting_TwoFactorLogin_IsEmailProviderEnabled" class="kt-checkbox">
                                                    <input id="Setting_TwoFactorLogin_IsEmailProviderEnabled" type="checkbox" value="true" name="IsEmailProviderEnabled" @(Model.Settings.Security.TwoFactorLogin.IsEmailProviderEnabled ? "checked=\"checked\"" : "")>
                                                    @L("IsEmailVerificationEnabled")
                                                    <span></span>
                                                </label>
                                                <label for="Setting_TwoFactorLogin_IsSmsProviderEnabled" class="kt-checkbox">
                                                    <input id="Setting_TwoFactorLogin_IsSmsProviderEnabled" type="checkbox" value="true" name="IsSmsProviderEnabled" @(Model.Settings.Security.TwoFactorLogin.IsSmsProviderEnabled ? "checked=\"checked\"" : "")>
                                                    @L("IsSmsVerificationEnabled")
                                                    <span></span>
                                                </label>
                                                <label for="Setting_TwoFactorLogin_IsGoogleAuthenticatorEnabled" class="kt-checkbox">
                                                    <input id="Setting_TwoFactorLogin_IsGoogleAuthenticatorEnabled" type="checkbox" name="IsGoogleAuthenticatorEnabled" value="true" @(Model.Settings.Security.TwoFactorLogin.IsGoogleAuthenticatorEnabled ? "checked=\"checked\"" : "")>
                                                    @L("IsGoogleAuthenticatorEnabled")
                                                    <span></span>
                                                </label>
                                            }
                                            <label for="Setting_TwoFactorLogin_IsRememberBrowserEnabled" class="kt-checkbox">
                                                <input id="Setting_TwoFactorLogin_IsRememberBrowserEnabled" type="checkbox" value="true" name="IsRememberBrowserEnabled" @(Model.Settings.Security.TwoFactorLogin.IsRememberBrowserEnabled ? "checked=\"checked\"" : "")>
                                                @L("AllowToRememberBrowserForTwoFactorLogin")
                                                <span></span>
                                            </label>
                                        </div>
                                    </form>
                                </div>
                            }
                            @if (!ViewBag.IsMultiTenancyEnabled)
                            {
                                <div>
                                    <h5>@L("OneConcurrentLoginPerUser")</h5>
                                    <form id="OneConcurrentLoginPerUser">
                                        <div class="kt-checkbox-list">
                                            <label for="Setting_AllowOneConcurrentLoginPerUser" class="kt-checkbox">
                                                <input id="Setting_AllowOneConcurrentLoginPerUser" type="checkbox" name="Setting_AllowOneConcurrentLoginPerUser" value="true" @(Model.Settings.Security.AllowOneConcurrentLoginPerUser ? "checked=\"checked\"" : "")>
                                                @L("OneConcurrentLoginPerUserActive")
                                                <span></span>
                                            </label>
                                        </div>
                                    </form>
                                </div>
                            }
                        </div>

                        @if (!ViewBag.IsMultiTenancyEnabled || AbpTemplateConsts.AllowTenantsToChangeEmailSettings)
                        {
                            <div class="tab-pane" id="SettingsEmailSmtpTab">
                                <form id="EmailSmtpSettingsForm">
                                    @if (ViewBag.IsMultiTenancyEnabled)
                                    {<div class="form-group">
                                            <label for="Settings_UseHostDefaultEmailSettings" class="kt-checkbox">
                                                <input id="Settings_UseHostDefaultEmailSettings" type="checkbox" name="UseHostDefaultEmailSettings" value="true" @Html.Raw(Model.Settings.Email.UseHostDefaultEmailSettings ? "checked=\"checked\"" : "")>
                                                @L("UseHostDefaultEmailSettings")
                                                <span></span>
                                            </label>
                                        </div>
                                    }
                                    <div id="Settings_Email_Group" @Html.Raw(Model.Settings.Email.UseHostDefaultEmailSettings ? "style=\"display: none;\"" : "")>
                                        <div class="form-group">
                                            <label for="DefaultFromAddress">@L("DefaultFromAddress")</label>
                                            <input id="DefaultFromAddress" type="email" name="DefaultFromAddress" class="form-control" value="@Model.Settings.Email.DefaultFromAddress" maxlength="@RASP.AbpTemplate.Authorization.Users.User.MaxEmailAddressLength">
                                        </div>

                                        <div class="form-group">
                                            <label for="DefaultFromDisplayName">@L("DefaultFromDisplayName")</label>
                                            <input id="DefaultFromDisplayName" type="text" name="DefaultFromDisplayName" class="form-control" value="@Model.Settings.Email.DefaultFromDisplayName" maxlength="128">
                                        </div>

                                        <div class="form-group">
                                            <label for="SmtpHost">@L("SmtpHost")</label>
                                            <input id="SmtpHost" type="text" name="SmtpHost" class="form-control" value="@Model.Settings.Email.SmtpHost" maxlength="64">
                                        </div>

                                        <div class="form-group">
                                            <label for="SmtpPort">@L("SmtpPort")</label>
                                            <input id="SmtpPort" type="number" name="SmtpPort" class="form-control" value="@Model.Settings.Email.SmtpPort" maxlength="5">
                                        </div>

                                        <div class="kt-checkbox-list">
                                            <label for="Settings_SmtpEnableSsl" class="kt-checkbox">
                                                <input id="Settings_SmtpEnableSsl" type="checkbox" name="SmtpEnableSsl" value="true" @Html.Raw(Model.Settings.Email.SmtpEnableSsl ? "checked=\"checked\"" : "")>
                                                @L("UseSsl")
                                                <span></span>
                                            </label>
                                            <label for="Settings_SmtpUseDefaultCredentials" class="kt-checkbox">
                                                <input id="Settings_SmtpUseDefaultCredentials" type="checkbox" name="SmtpUseDefaultCredentials" value="true" @Html.Raw(Model.Settings.Email.SmtpUseDefaultCredentials ? "checked=\"checked\"" : "")>
                                                @L("UseDefaultCredentials")
                                                <span></span>
                                            </label>
                                        </div>

                                        <div class="form-group">
                                            <label for="SmtpDomain">@L("DomainName")</label>
                                            <input id="SmtpDomain" type="text" name="SmtpDomain" class="form-control" value="@Model.Settings.Email.SmtpDomain" maxlength="128">
                                        </div>

                                        <div class="form-group">
                                            <label for="SmtpUserName">@L("UserName")</label>
                                            <input id="SmtpUserName" type="text" name="SmtpUserName" class="form-control" value="@Model.Settings.Email.SmtpUserName" maxlength="128">
                                        </div>

                                        <div class="form-group">
                                            <label for="SmtpPassword">@L("Password")</label>
                                            <input id="SmtpPassword" type="password" name="SmtpPassword" class="form-control" value="@Model.Settings.Email.SmtpPassword" maxlength="128" autocomplete="new-password">
                                        </div>

                                        <h5>@L("TestEmailSettingsHeader")</h5>

                                        <div class="row">
                                            <div class="form-group col-md-4">
                                                <input id="TestEmailAddressInput" type="text" class="form-control input-sm" value="@ViewBag.CurrentUserEmail">
                                            </div>
                                            <div class="form-group col-md-2">
                                                <button id="SendTestEmailButton" class="btn btn-success" type="button">@L("SendTestEmail")</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        }

                        @if (ViewBag.IsMultiTenancyEnabled)
                        {
                            <div class="tab-pane" id="BillingTab">
                                <form id="BillingSettingsForm" class="kt-form">
                                    <h5>@L("InvoiceInformation")</h5>
                                    <div class="form-group">
                                        <label for="LegalName">@L("LegalName")</label>
                                        <input id="LegalName" type="text" class="form-control" name="LegalName" value="@Model.Settings.Billing.LegalName" maxlength="64">
                                    </div>

                                    <div class="form-group">
                                        <label for="Address">@L("Address")</label>
                                        <textarea id="Address" rows="5" class="form-control" name="Address" class="form-control" maxlength="256">@Model.Settings.Billing.Address</textarea>
                                    </div>

                                    <div class="form-group">
                                        <label for="TaxVatNo">@L("Tax/VatNo")</label>
                                        <input id="TaxVatNo" type="text" class="form-control" name="TaxVatNo" value="@Model.Settings.Billing.TaxVatNo" maxlength="32">
                                    </div>
                                </form>
                            </div>
                        }
                        @if (!ViewBag.IsMultiTenancyEnabled)
                        {
                            <div class="tab-pane" id="OtherSettingsTab">
                                <form id="OtherSettingsForm" class="kt-form">
                                    <div class="kt-checkbox-list">
                                        <h5>@L("QuickThemeSelection")</h5>
                                        <label for="Setting_IsQuickThemeSelectEnabled" class="kt-checkbox">
                                            <input id="Setting_IsQuickThemeSelectEnabled" type="checkbox" name="IsQuickThemeSelectEnabled" value="true" @(Model.Settings.UserManagement.IsQuickThemeSelectEnabled ? "checked=\"checked\"" : "")>
                                            @L("IsQuickThemeSelectEnabled")
                                            <span></span>
                                        </label>
                                    </div>
                                </form>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
