﻿@using RASP.AbpTemplate.Authorization
@using RASP.AbpTemplate.Web.Common
@model RASP.AbpTemplate.Web.Models.Ui.HomePageModel

<head>
    <title>AbpTemplate</title>

    <link href="~/view-resources/Views/Ui/Index.css" rel="stylesheet" />
</head>
<div class="main-content">
    <div class="user-name">@L("YouAreAlreadyLoggedInWithUser") : @Html.Raw(Model.GetShownLoginName())</div>
    <div>
        <ul class="content-list">
            @if (WebConsts.SwaggerUiEnabled)
            {
                <li><a href="@WebConsts.SwaggerUiEndPoint">Swagger UI</a></li>
            }
            @if (WebConsts.HangfireDashboardEnabled && IsGranted(AppPermissions.Pages_Administration_HangfireDashboard))
            {
                <li><a href="@WebConsts.HangfireDashboardEndPoint">Hangfire</a></li>
            }
            @if (WebConsts.GraphQL.Enabled && WebConsts.GraphQL.PlaygroundEnabled)
            {
                <li><a href="@WebConsts.GraphQL.PlaygroundEndPoint">GraphQL Playground</a></li>
            }
        </ul>
    </div>
    <div class="logout">
        <a href="@Url.Action("Logout", "Ui", new {area = string.Empty})">@L("Logout")</a>
    </div>
</div>