﻿@model RASP.AbpTemplate.Web.Models.Ui.LoginModel

<head>
    <title>AbpTemplate</title>

    <link href="~/view-resources/Views/Ui/Login.css" rel="stylesheet" />
</head>
<div class="login-form">
    <h1>@L("LogIn")</h1>
    <form method="post">
        <div class="login-form-row">
            <label for="TenancyName">@L("TenancyName")</label>
            <input type="text" id="TenancyName" name="TenancyName" placeholder="@L("TenancyName")">
        </div>
        <div class="login-form-row">
            <label for="UsernameOrEmailAddress">@L("UserNameOrEmail")</label>
            <input type="text" id="UsernameOrEmailAddress" name="UserNameOrEmailAddress" placeholder="@L("UserNameOrEmail")">
        </div>
        <div class="login-form-row">
            <label for="password">@L("Password")</label>
            <input type="password" id="password" name="Password" placeholder="@L("Password")">
        </div>
        <div class="login-form-row">
            <input type="checkbox" id="rememberMe" name="RememberMe" value="true">
            <label for="rememberMe">@L("RememberMe")</label>
        </div>
        <button type="submit" class="login-form-button">@L("LogIn")</button>
    </form>
</div>