﻿@using RASP.AbpTemplate.Web.Areas.App.Models.Layout
@using RASP.AbpTemplate.Web.Areas.App.Views.Shared.Components.AppLogo
@model HeaderViewModel
@{
    Layout = null;
}
<div class="kt-aside__brand kt-grid__item" id="kt_header_brand">
    <div class="kt-aside__brand-logo">
        <a href="@Url.Action("Index", "Home", new {area = string.Empty})">
            @await Component.InvokeAsync(typeof(AppLogoViewComponent))
        </a>
    </div>
</div>