﻿
@{
    ViewData["Title"] = "Index";
}
@section Styles
    {
    <link rel="stylesheet" href="/view-resources/Areas/App/Views/ServiceSurvey/index.css" />
}
@section Scripts
    {
    <script abp-src="/view-resources/Areas/App/Views/ServiceSurvey/knockout-debug.js" asp-append-version="true"></script>
    <script abp-src="/view-resources/Areas/App/Views/ServiceSurvey/index.js" asp-append-version="true"></script>
}
<div class="sv_header">
    <h3>SurveyJS custom service ASP.NET Core example</h3>
    <p>
        Below you can see the list of available surveys you can edit, run
        and see the results
    </p>
</div>
<div class="sv_body">
    <div id="surveys-list" class="surveys-list">
        <section>
            <button data-bind="click: function() { createSurvey('NewSurvey' + Date.now(), loadSurveys); }">
                Add
            </button>
        </section>
        <table class="table table-striped">
            <tbody>
                <!-- ko foreach: availableSurveys -->
                <tr>
                    <td data-bind="text: name"></td>
                    <td>
                        <a class="sv_button_link"
                           data-bind="attr: { href: 'survey.html?id=' + ko.unwrap(id) }">Run</a>
                        <a class="sv_button_link"
                           data-bind="attr: { href: '@(Url.Action("SurveyCreator","ServiceSurvey"))?id=' + ko.unwrap(id) }">Edit</a>
                        <a class="sv_button_link"
                           data-bind="attr: { href: 'results.html?id=' + ko.unwrap(id) }">Results</a>
                        <span class="sv_button_link sv_button_delete"
                              data-bind="click: function() { $parent.deleteSurvey(ko.unwrap(id), $parent.loadSurveys); }">Delete</span>
                    </td>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
    </div>
</div>
