﻿@using RASP.AbpTemplate.Web.Areas.App.Startup
@{
    ViewData["Title"] = "Index";
    ViewBag.CurrentPageName = AppPageNames.Common.Surveies;
}
@section Styles
    {
    <link rel="stylesheet" href="/view-resources/Areas/App/Views/ServiceSurvey/survey.css" />
    <link rel="stylesheet" href="/view-resources/Areas/App/Views/ServiceSurvey/survey.analytics.css" />

}
@section Scripts
    {

    <script abp-src="/view-resources/Areas/App/Views/ServiceSurvey/survey.jquery.js" asp-append-version="true"></script>
    <script abp-src="/view-resources/Areas/App/Views/ServiceSurvey/typedarray.js" asp-append-version="true"></script>
    <script abp-src="/view-resources/Areas/App/Views/ServiceSurvey/polyfill.min.js" asp-append-version="true"></script>
    <script abp-src="/view-resources/Areas/App/Views/ServiceSurvey/plotly-latest.min.js" asp-append-version="true"></script>
    <script abp-src="/view-resources/Areas/App/Views/ServiceSurvey/wordcloud2.js" asp-append-version="true"></script>
    <script abp-src="/view-resources/Areas/App/Views/ServiceSurvey/survey.analytics.js" asp-append-version="true"></script>

    <script abp-src="/view-resources/Areas/App/Views/ServiceSurvey/result-analytics.js" asp-append-version="true"></script>
}
<input type="hidden" id="jsonresult" value="@Model" />
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item">
        <div class="@(await GetContainerClass())">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    <span>@L("Surveies")</span>
                </h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <span class="kt-subheader__desc">
                    Kết quả thống kê: @ViewBag.SurveyName
                </span>
            </div>

        </div>
    </div>
</div>
<div class="sv_main">
    <div class="sv_custom_header"></div>
    <div class="sv_container">
        <div id="surveyElement"></div>
        <div id="surveyResult"></div>

    </div>
</div>
