﻿@using RASP.AbpTemplate.Web.Areas.App.Startup
@{
    ViewData["Title"] = "Index";
    ViewBag.CurrentPageName = AppPageNames.Common.Surveies;
}
@section Styles
    {
    <link rel="stylesheet" href="/view-resources/Areas/App/Views/ServiceSurvey/survey.css" />
    <link rel="stylesheet" href="/view-resources/Areas/App/Views/ServiceSurvey/index.css" />
    <style>
        .sv_body {
            max-height: 800px !important;
            overflow: scroll;
        }
    </style>
}
@section Scripts
    {
    <script abp-src="/view-resources/Areas/App/Views/ServiceSurvey/knockout-debug.js" asp-append-version="true"></script>
    <script src="/view-resources/Areas/App/Views/ServiceSurvey/survey.ko.js"></script>
    <script abp-src="/view-resources/Areas/App/Views/ServiceSurvey/results.js" asp-append-version="true"></script>
}
<div class="sv_header">

</div>
<div class="sv_main">
    <div class="sv_custom_header"></div>
    <div class="sv_container">
        <div class="sv_header">
            <h3>Kết quả: @ViewBag.SurveyName của @ViewBag.Email</h3>
        </div>
        <div class="sv_body">
            <table id="resultsTable" class="table table-striped table-bordered"></table>
        </div>
    </div>
</div>
