﻿@using RASP.AbpTemplate.Web.Areas.App.Startup
@{
    ViewData["Title"] = "Index";
    ViewBag.CurrentPageName = AppPageNames.Common.Surveies;
}
@section Styles
    {
    <link rel="stylesheet" href="/view-resources/Areas/App/Views/ServiceSurvey/survey.css" />
    <link rel="stylesheet" href="/view-resources/Areas/App/Views/ServiceSurvey/index.css" />
}
@section Scripts
    {
    <script src="/view-resources/Areas/App/Views/ServiceSurvey/knockout-min.js"></script>
    <script src="/view-resources/Areas/App/Views/ServiceSurvey/survey.ko.js"></script>
    <script abp-src="/view-resources/Areas/App/Views/ServiceSurvey/survey.js" asp-append-version="true"></script>
}
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item">
        <div class="@(await GetContainerClass())">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    <span>@L("Surveies")</span>
                </h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <span class="kt-subheader__desc">
                    Thử nghiệm @ViewBag.SurveyName
                </span>
            </div>

        </div>
    </div>
</div>


<div id="surveyElement">
</div>
