﻿
@{
    ViewData["Title"] = "Index";
}
<script>
    //abp.event.on('app.tiki.messageReceived', function (message) {
    //    debugger;
    //});
</script>
<h1 id="count">0</h1>
<button type="button" id="btnBatDau">Bắt đầu</button>
@section Scripts
    {

    <script src="@(ApplicationPath)Common/Scripts/Tiki/tiki.signalr.js" asp-append-version="true"></script>
    <script>

        $('#btnBatDau').on('click', function () {
            BatDauDem(0);
        })
        var appSessionTiki = {
            load: function (callback) {
                abp.services.app.session.getCurrentLoginInformations({ async: false })
                    .done(function (result) {
                        appSessionTiki.user = result.user;
                        appSessionTiki.tenant = result.tenant;

                        //callback();
                    });
            }
        };
        appSessionTiki.load();
        function BatDauDem(count) {
            
            var obj = {
                tenantId: appSessionTiki.tenant.id,
                userId: appSessionTiki.user.id,
                message: count,
                tenancyName: appSessionTiki.tenant ? appSessionTiki.tenant.tenancyName : null,
                userName: appSessionTiki.user.userName,
                profilePictureId: appSessionTiki.user.profilePictureId
            };
            app.tiki.sendMessage(obj, function () {
                
            });
        }
        
    </script>
}