
@using System.Globalization
@using RASP.AbpTemplate.Web.Areas.App.Models.Common.Modals
@using RASP.AbpTemplate.Web.Areas.App.Models.RCategories
@model CreateOrEditRCategoryModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditRCategory")) : L("CreateNewRCategory")))

<div class="modal-body">
        <div id="RCategoryInformationsTab">
            <form name="RCategoryInformationsForm" role="form" novalidate class="form-validation">

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="id" value="@Model.RCategory.Id" />
                }

				

				
								<div class="form-group">
									<label for="RCategory_MetaTitle">@L("MetaTitle")</label>
									<input class="form-control" id="RCategory_MetaTitle" value="@Model.RCategory.MetaTitle" type="text" name="metaTitle"  required  maxlength="@RASP.AbpTemplate.RModel.RCategoryConsts.MaxMetaTitleLength"  minlength="@RASP.AbpTemplate.RModel.RCategoryConsts.MinMetaTitleLength"  />
								</div>
					
								<div class="form-group">
									<label for="RCategory_MetaDescription">@L("MetaDescription")</label>
									<input class="form-control" id="RCategory_MetaDescription" value="@Model.RCategory.MetaDescription" type="text" name="metaDescription"  required    />
								</div>
					
								<div class="form-group">
									<label for="RCategory_ImageName">@L("ImageName")</label>
									<input class="form-control" id="RCategory_ImageName" value="@Model.RCategory.ImageName" type="text" name="imageName"   maxlength="@RASP.AbpTemplate.RModel.RCategoryConsts.MaxImageNameLength"  minlength="@RASP.AbpTemplate.RModel.RCategoryConsts.MinImageNameLength"  />
								</div>
					
								<div class="form-group">
									<label for="RCategory_Title">@L("Title")</label>
									<input class="form-control" id="RCategory_Title" value="@Model.RCategory.Title" type="text" name="title"  required  maxlength="@RASP.AbpTemplate.RModel.RCategoryConsts.MaxTitleLength"  minlength="@RASP.AbpTemplate.RModel.RCategoryConsts.MinTitleLength"  />
								</div>
					
								<div class="form-group">
									<label for="RCategory_Description">@L("Description")</label>
									<input class="form-control" id="RCategory_Description" value="@Model.RCategory.Description" type="text" name="description"  required  maxlength="@RASP.AbpTemplate.RModel.RCategoryConsts.MaxDescriptionLength"  minlength="@RASP.AbpTemplate.RModel.RCategoryConsts.MinDescriptionLength"  />
								</div>
					
								<div class="form-group">
									<label for="RCategory_Content">@L("Content")</label>
									<input class="form-control" id="RCategory_Content" value="@Model.RCategory.Content" type="text" name="content"     />
								</div>
					
								<div class="form-group">
									<label for="RCategory_Tag">@L("Tag")</label>
									<input class="form-control" id="RCategory_Tag" value="@Model.RCategory.Tag" type="text" name="tag"     />
								</div>
					
								<div class="form-group">
									<label for="RCategory_Author">@L("Author")</label>
									<input class="form-control" id="RCategory_Author" value="@Model.RCategory.Author" type="text" name="author"   maxlength="@RASP.AbpTemplate.RModel.RCategoryConsts.MaxAuthorLength"  minlength="@RASP.AbpTemplate.RModel.RCategoryConsts.MinAuthorLength"  />
								</div>
					
								<div class="form-group">
									<label for="RCategory_ParentId">@L("ParentId")</label>
									<input class="form-control m-input" id="RCategory_ParentId" value="@Model.RCategory.ParentId?.ToString(CultureInfo.InvariantCulture)" type="number" name="parentId"  />
								</div>
					
								<div class="m-checkbox-list">
									<label for="RCategory_IsAvailable" class="kt-checkbox">
										<input id="RCategory_IsAvailable" type="checkbox" name="isAvailable" value="true" @Html.Raw(Model.RCategory.IsAvailable ?"checked=\"checked\"":"") />
										@L("IsAvailable")
										<span></span>
									</label>
								</div>
					
								<div class="m-checkbox-list">
									<label for="RCategory_IsShowMenuTop" class="kt-checkbox">
										<input id="RCategory_IsShowMenuTop" type="checkbox" name="isShowMenuTop" value="true" @Html.Raw(Model.RCategory.IsShowMenuTop ?"checked=\"checked\"":"") />
										@L("IsShowMenuTop")
										<span></span>
									</label>
								</div>
					
								<div class="m-checkbox-list">
									<label for="RCategory_IsShowMenuBottom" class="kt-checkbox">
										<input id="RCategory_IsShowMenuBottom" type="checkbox" name="isShowMenuBottom" value="true" @Html.Raw(Model.RCategory.IsShowMenuBottom ?"checked=\"checked\"":"") />
										@L("IsShowMenuBottom")
										<span></span>
									</label>
								</div>
					
								<div class="form-group">
									<label for="RCategory_Priority">@L("Priority")</label>
									<input class="form-control m-input" id="RCategory_Priority" value="@Model.RCategory.Priority.ToString(CultureInfo.InvariantCulture)" type="number" name="priority"  />
								</div>
					

            </form>
        </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
