
@using RASP.AbpTemplate.Web.Areas.App.Models.Common.Modals
@using RASP.AbpTemplate.Web.Areas.App.Models.RCategories
@model RCategoryViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="RCategoryInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("MetaTitle") :</h6>
                @Model.RCategory.MetaTitle
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Title") :</h6>
                @Model.RCategory.Title
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Description") :</h6>
                @Model.RCategory.Description
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Tag") :</h6>
                @Model.RCategory.Tag
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Author") :</h6>
                @Model.RCategory.Author
            </div>
            <div class="col-6 mb-3">
                <h6>@L("ParentId") :</h6>
                @Model.RCategory.ParentId
            </div>
            <div class="col-6 mb-3">
                <h6>@L("IsAvailable") :</h6>
                @Model.RCategory.IsAvailable
            </div>
            <div class="col-6 mb-3">
                <h6>@L("IsShowMenuTop") :</h6>
                @Model.RCategory.IsShowMenuTop
            </div>
            <div class="col-6 mb-3">
                <h6>@L("IsShowMenuBottom") :</h6>
                @Model.RCategory.IsShowMenuBottom
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Priority") :</h6>
                @Model.RCategory.Priority
            </div>


        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")

