﻿@using System.Threading.Tasks
@using RASP.AbpTemplate.Authorization
@using RASP.AbpTemplate.Web.Areas.App.Startup
@{
    ViewBag.CurrentPageName = AppPageNames.Host.Editions;
}
@section Styles
    {
    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/_Bundles/edition-list.css" asp-append-version="true" />
}

@section Scripts
    {
    <script abp-src="/view-resources/Areas/App/Views/_Bundles/edition-list.js" asp-append-version="true"></script>
}
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

    <div class="kt-subheader kt-grid__item">
        <div class="@(await GetContainerClass())">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    <span>@L("Editions")</span>
                </h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <span class="kt-subheader__desc">
                    @L("EditionsHeaderInfo")
                </span>
            </div>
            <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper">
                    @if (IsGranted(AppPermissions.Pages_Editions_Create))
                    {
                        <button id="CreateNewEditionButton" class="btn btn-primary"><i class="fa fa-plus"></i> @L("CreateNewEdition")</button>
                    }
                </div>
            </div>
        </div>
    </div>


    <div class="@(await GetContainerClass()) kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="align-items-center">
                    <table id="EditionsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>
                                <th>@L("Actions")</th>
                                <th>@L("EditionName")</th>
                                <th>@L("Price")</th>
                                <th>@L("IsTrialActive")</th>
                                <th>@L("WaitingDayAfterExpire")</th>
                                <th>@L("ExpiringEdition")</th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
