@using RASP.AbpTemplate.RSurvey;
					
@using System.Globalization
@using RASP.AbpTemplate.Web.Areas.App.Models.Common.Modals
@using RASP.AbpTemplate.Web.Areas.App.Models.Questions
@model CreateOrEditQuestionModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditQuestion")) : L("CreateNewQuestion")))

<div class="modal-body">
        <div id="QuestionInformationsTab">
            <form name="QuestionInformationsForm" role="form" novalidate class="form-validation">

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="id" value="@Model.Question.Id" />
                }

				            
								<div class="form-group m-form__group">
										<label for="SurveyTitle">@L("Survey")</label>
									    <div class="input-group">
											<input class="form-control" id="SurveyTitle" name="surveyTitle" value="@Model.SurveyTitle" type="text" disabled>
										<div class="input-group-append">
											<button class="btn btn-primary blue" id="OpenSurveyLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
										</div> 
										<div class="input-group-prepend">
											<button class="btn btn-danger btn-icon" type="button" id="ClearSurveyTitleButton"><i class="fa fa-times"></i></button>
										</div>
									</div>
								</div>

								@if (Model.IsEditMode)
								{
									<input class="form-control" id="Question_SurveyId" value="@Model.Question.SurveyId" type="text" name="surveyId"  hidden/>
								}
								 else
								{ 
									<input class="form-control" id="Question_SurveyId" value="" type="text" name="surveyId"  hidden/>
								}



				
								<div class="form-group">
									<label for="Question_QuestionText">@L("QuestionText")</label>
									<input class="form-control" id="Question_QuestionText" value="@Model.Question.QuestionText" type="text" name="questionText"  required    />
								</div>
					
								@{
					var selectListQuestionType = Html.GetEnumSelectList(typeof(QuestionTypeEnum));
					 foreach (var selectOption in selectListQuestionType) { selectOption.Text = L("Enum_QuestionTypeEnum_" + selectOption.Value); }
					}
								<div class="form-group m-form__group">
									<label for="Question_QuestionType">@L("QuestionType")</label>
										<select class="form-control m-input m-input--square" name="questionType" id="Question_QuestionType" asp-for="@Model.Question.QuestionType" asp-items="@selectListQuestionType">
									</select>
								</div>
					

            </form>
        </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
