@using RASP.AbpTemplate.Authorization
@using RASP.AbpTemplate.Web.Areas.App.Models.Questions
@using RASP.AbpTemplate.Web.Areas.App.Startup
@using RASP.AbpTemplate.Web.Areas.App.Models.Common.Modals
@model QuestionSurveyLookupTableViewModel

@section Scripts
    {
    <script abp-src="/view-resources/Areas/App/Views/Questions/_QuestionSurveyLookupTableModal.js" asp-append-version="true"></script>
}

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("PickSurvey")))



<div class="kt-container kt-container--fluid kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet">
        <div class="kt-portlet__body">
            <div class="kt-form">
                <div class="row align-items-center mb-4">
                    <div class="col-xl-12">
                        <div class="kt-group align-items-center">
                            <div class="input-group">
                                <input type="text" id="SurveyTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                <span class="input-group-btn">
                                    <button id="GetSurveyButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <table id="SurveyTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>@L("Actions")</th>
                            <th>@L("Title")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")