
@using RASP.AbpTemplate.Web.Areas.App.Models.Common.Modals
@using RASP.AbpTemplate.Web.Areas.App.Models.Questions
@model QuestionViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="QuestionInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("QuestionText") :</h6>
                @Model.Question.QuestionText
            </div>
            <div class="col-6 mb-3">
                <h6>@L("QuestionType") :</h6>
                @L("Enum_QuestionTypeEnum_" + (int)Model.Question.QuestionType)
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("Survey")) @L("Title") :</h6>
                @Model.SurveyTitle
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")

