@using RASP.AbpTemplate.Authorization
@using RASP.AbpTemplate.Web.Areas.App.Models.Questions
@using RASP.AbpTemplate.Web.Areas.App.Startup
@model QuestionsViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Common.Questions;
}
@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/Questions/Index.js" asp-append-version="true"></script>
}
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
 <div class="kt-subheader kt-grid__item">
  <div class="@(await GetContainerClass())">
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title">
            <span>@L("Questions")</span>
        </h3>
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        <span class="kt-subheader__desc">
            @L("QuestionsHeaderInfo")
        </span>
    </div>
    <div class="kt-subheader__toolbar">
        <div class="kt-subheader__wrapper">
            <button id="ExportToExcelButton" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>
            @if (IsGranted(AppPermissions.Pages_Administration_Questions_Create))
            {
                <button id="CreateNewQuestionButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewQuestion")</button>
            }
        </div>
    </div>
  </div>
</div>
<div class="@(await GetContainerClass()) kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__body">
            <div class="kt-form">
                <div class="row align-items-center mb-4">
                    <div class="col-xl-12">
                        <div class="form-group align-items-center">
                            <div class="input-group">
                                <input type="text" id="QuestionsTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                <span class="input-group-btn">
                                    <button id="GetQuestionsButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
						<div class="kt-separator kt-separator--border-dashed"></div>
					</div>

							<div class="col-md-3">
								<div class="form-group">
									<label for="QuestionTextFilterId">@L("QuestionText")</label>
									<input type="text" class="form-control" name="questionTextFilter" id="QuestionTextFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<label for="QuestionTypeFilterId">@L("QuestionType")</label>
								<select class="form-control" name="QuestionTypeFilter" id="QuestionTypeFilterId">
								<option value="-1">@L("All")</option>
																			<option value="1">@L("Enum_QuestionTypeEnum_1")</option>

										<option value="2">@L("Enum_QuestionTypeEnum_2")</option>

										<option value="3">@L("Enum_QuestionTypeEnum_3")</option>

										<option value="4">@L("Enum_QuestionTypeEnum_4")</option>


								</select>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="SurveyTitleFilterId">(@L("Survey")) @L("Title")</label>
									<input type="text" class="form-control" name="surveyTitleFilter" id="SurveyTitleFilterId">
								</div>
                            </div>

                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
            <div class="row align-items-center">
                <table id="QuestionsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>@L("Actions")</th>
								<th>@L("QuestionText")</th>
								<th>@L("QuestionType")</th>
								<th>@L("SurveyTitle")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
  </div>
</div>