﻿@using RASP.AbpTemplate.Web.Areas.App.Models.Layout
@using RASP.AbpTemplate.Web.Areas.App.Views.Shared.Components.AppLogo
@model HeaderViewModel
@{
    Layout = null;
}
<div class="kt-header__brand kt-grid__item" id="kt_header_brand">
    <div class="kt-header__brand-logo">
        <a href="@Url.Action("Index", "Home", new {area = string.Empty})" class="light">
            @await Component.InvokeAsync(typeof(AppLogoViewComponent), new { LogoSkin = "light" })
        </a>
        <a href="@Url.Action("Index", "Home", new {area = string.Empty})" class="dark">
            @await Component.InvokeAsync(typeof(AppLogoViewComponent), new { LogoSkin = "dark" })
        </a>
    </div>
</div>