
@using System.Globalization
@using RASP.AbpTemplate.Web.Areas.App.Models.Common.Modals
@using RASP.AbpTemplate.Web.Areas.App.Models.Surveies
@model CreateOrEditSurveyModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditSurvey")) : L("CreateNewSurvey")))

<div class="modal-body">
        <div id="SurveyInformationsTab">
            <form name="SurveyInformationsForm" role="form" novalidate class="form-validation">

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="id" value="@Model.Survey.Id" />
                }

				

				
								<div class="form-group">
									<label for="Survey_Title">@L("Title")</label>
									<input class="form-control" id="Survey_Title" value="@Model.Survey.Title" type="text" name="title"  required  maxlength="@RASP.AbpTemplate.RSurvey.SurveyConsts.MaxTitleLength"  minlength="@RASP.AbpTemplate.RSurvey.SurveyConsts.MinTitleLength"  />
								</div>
					
								<div class="form-group">
									<label for="Survey_Description">@L("Description")</label>
									<input class="form-control" id="Survey_Description" value="@Model.Survey.Description" type="text" name="description"  required  maxlength="@RASP.AbpTemplate.RSurvey.SurveyConsts.MaxDescriptionLength"  minlength="@RASP.AbpTemplate.RSurvey.SurveyConsts.MinDescriptionLength"  />
								</div>
					
								<div class="form-group">
									<label for="Survey_StartDate">@L("StartDate")</label>
									<input class="form-control m-input date-picker" id="Survey_StartDate" type="text" name="startDate" value="@Model.Survey.StartDate"/>
								</div>
					
								<div class="form-group">
									<label for="Survey_EndDate">@L("EndDate")</label>
									<input class="form-control m-input date-picker" id="Survey_EndDate" type="text" name="endDate" value="@Model.Survey.EndDate"/>
								</div>
					
								<div class="m-checkbox-list">
									<label for="Survey_IsAvailable" class="kt-checkbox">
										<input id="Survey_IsAvailable" type="checkbox" name="isAvailable" value="true" @Html.Raw(Model.Survey.IsAvailable ?"checked=\"checked\"":"") />
										@L("IsAvailable")
										<span></span>
									</label>
								</div>
					
								<div class="form-group">
									<label for="Survey_Text">@L("Text")</label>
									<input class="form-control" id="Survey_Text" value="@Model.Survey.Text" type="text" name="text"     />
								</div>
					

            </form>
        </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
