
@using RASP.AbpTemplate.Web.Areas.App.Models.Common.Modals
@using RASP.AbpTemplate.Web.Areas.App.Models.Surveies
@model SurveyViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="SurveyInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Title") :</h6>
                @Model.Survey.Title
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Description") :</h6>
                @Model.Survey.Description
            </div>
            <div class="col-6 mb-3">
                <h6>@L("StartDate") :</h6>
                @Model.Survey.StartDate
            </div>
            <div class="col-6 mb-3">
                <h6>@L("EndDate") :</h6>
                @Model.Survey.EndDate
            </div>
            <div class="col-6 mb-3">
                <h6>@L("IsAvailable") :</h6>
                @Model.Survey.IsAvailable
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Text") :</h6>
                @Model.Survey.Text
            </div>


        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")

