
@using System.Globalization
@using RASP.AbpTemplate.Web.Areas.App.Models.Common.Modals
@using RASP.AbpTemplate.Web.Areas.App.Models.RProductCategories
@model CreateOrEditRProductCategoryModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditRProductCategory")) : L("CreateNewRProductCategory")))

<div class="modal-body">
        <div id="RProductCategoryInformationsTab">
            <form name="RProductCategoryInformationsForm" role="form" novalidate class="form-validation">

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="id" value="@Model.RProductCategory.Id" />
                }

				

				
								<div class="form-group">
									<label for="RProductCategory_MetaTitle">@L("MetaTitle")</label>
									<input class="form-control" id="RProductCategory_MetaTitle" value="@Model.RProductCategory.MetaTitle" type="text" name="metaTitle"   maxlength="@RASP.AbpTemplate.RModel.RProductCategoryConsts.MaxMetaTitleLength"  minlength="@RASP.AbpTemplate.RModel.RProductCategoryConsts.MinMetaTitleLength"  />
								</div>
					
								<div class="form-group">
									<label for="RProductCategory_MetaDescription">@L("MetaDescription")</label>
									<input class="form-control" id="RProductCategory_MetaDescription" value="@Model.RProductCategory.MetaDescription" type="text" name="metaDescription"   maxlength="@RASP.AbpTemplate.RModel.RProductCategoryConsts.MaxMetaDescriptionLength"  minlength="@RASP.AbpTemplate.RModel.RProductCategoryConsts.MinMetaDescriptionLength"  />
								</div>
					
								<div class="form-group">
									<label for="RProductCategory_Title">@L("Title")</label>
									<input class="form-control" id="RProductCategory_Title" value="@Model.RProductCategory.Title" type="text" name="title"   maxlength="@RASP.AbpTemplate.RModel.RProductCategoryConsts.MaxTitleLength"  minlength="@RASP.AbpTemplate.RModel.RProductCategoryConsts.MinTitleLength"  />
								</div>
					
								<div class="form-group">
									<label for="RProductCategory_Description">@L("Description")</label>
									<input class="form-control" id="RProductCategory_Description" value="@Model.RProductCategory.Description" type="text" name="description"   maxlength="@RASP.AbpTemplate.RModel.RProductCategoryConsts.MaxDescriptionLength"  minlength="@RASP.AbpTemplate.RModel.RProductCategoryConsts.MinDescriptionLength"  />
								</div>
					
								<div class="form-group">
									<label for="RProductCategory_Content">@L("Content")</label>
									<input class="form-control" id="RProductCategory_Content" value="@Model.RProductCategory.Content" type="text" name="content"     />
								</div>
					
								<div class="form-group">
									<label for="RProductCategory_Tag">@L("Tag")</label>
									<input class="form-control" id="RProductCategory_Tag" value="@Model.RProductCategory.Tag" type="text" name="tag"     />
								</div>
					
								<div class="form-group">
									<label for="RProductCategory_ParentId">@L("ParentId")</label>
									<input class="form-control m-input" id="RProductCategory_ParentId" value="@Model.RProductCategory.ParentId?.ToString(CultureInfo.InvariantCulture)" type="number" name="parentId"  />
								</div>
					
								<div class="m-checkbox-list">
									<label for="RProductCategory_IsAvailable" class="kt-checkbox">
										<input id="RProductCategory_IsAvailable" type="checkbox" name="isAvailable" value="true" @Html.Raw(Model.RProductCategory.IsAvailable ?"checked=\"checked\"":"") />
										@L("IsAvailable")
										<span></span>
									</label>
								</div>
					
								<div class="m-checkbox-list">
									<label for="RProductCategory_IsShowMenuTop" class="kt-checkbox">
										<input id="RProductCategory_IsShowMenuTop" type="checkbox" name="isShowMenuTop" value="true" @Html.Raw(Model.RProductCategory.IsShowMenuTop ?"checked=\"checked\"":"") />
										@L("IsShowMenuTop")
										<span></span>
									</label>
								</div>
					
								<div class="m-checkbox-list">
									<label for="RProductCategory_IsShowMenuBottom" class="kt-checkbox">
										<input id="RProductCategory_IsShowMenuBottom" type="checkbox" name="isShowMenuBottom" value="true" @Html.Raw(Model.RProductCategory.IsShowMenuBottom ?"checked=\"checked\"":"") />
										@L("IsShowMenuBottom")
										<span></span>
									</label>
								</div>
					
								<div class="form-group">
									<label for="RProductCategory_Priority">@L("Priority")</label>
									<input class="form-control m-input" id="RProductCategory_Priority" value="@Model.RProductCategory.Priority.ToString(CultureInfo.InvariantCulture)" type="number" name="priority"  />
								</div>
					

            </form>
        </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
