
@using RASP.AbpTemplate.Web.Areas.App.Models.Common.Modals
@using RASP.AbpTemplate.Web.Areas.App.Models.RProductCategories
@model RProductCategoryViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="RProductCategoryInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("MetaTitle") :</h6>
                @Model.RProductCategory.MetaTitle
            </div>
            <div class="col-6 mb-3">
                <h6>@L("MetaDescription") :</h6>
                @Model.RProductCategory.MetaDescription
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Title") :</h6>
                @Model.RProductCategory.Title
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Description") :</h6>
                @Model.RProductCategory.Description
            </div>
            <div class="col-6 mb-3">
                <h6>@L("IsAvailable") :</h6>
                @Model.RProductCategory.IsAvailable
            </div>
            <div class="col-6 mb-3">
                <h6>@L("IsShowMenuTop") :</h6>
                @Model.RProductCategory.IsShowMenuTop
            </div>
            <div class="col-6 mb-3">
                <h6>@L("IsShowMenuBottom") :</h6>
                @Model.RProductCategory.IsShowMenuBottom
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Priority") :</h6>
                @Model.RProductCategory.Priority
            </div>


        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")

