
@using System.Globalization
@using RASP.AbpTemplate.Web.Areas.App.Models.Common.Modals
@using RASP.AbpTemplate.Web.Areas.App.Models.Answers
@model CreateOrEditAnswerModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditAnswer")) : L("CreateNewAnswer")))

<div class="modal-body">
        <div id="AnswerInformationsTab">
            <form name="AnswerInformationsForm" role="form" novalidate class="form-validation">

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="id" value="@Model.Answer.Id" />
                }

				            
								<div class="form-group m-form__group">
										<label for="QuestionQuestionText">@L("Question")</label>
									    <div class="input-group">
											<input class="form-control" id="QuestionQuestionText" name="questionQuestionText" value="@Model.QuestionQuestionText" type="text" disabled>
										<div class="input-group-append">
											<button class="btn btn-primary blue" id="OpenQuestionLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
										</div> 
										<div class="input-group-prepend">
											<button class="btn btn-danger btn-icon" type="button" id="ClearQuestionQuestionTextButton"><i class="fa fa-times"></i></button>
										</div>
									</div>
								</div>

								@if (Model.IsEditMode)
								{
									<input class="form-control" id="Answer_QuestionId" value="@Model.Answer.QuestionId" type="text" name="questionId"  hidden/>
								}
								 else
								{ 
									<input class="form-control" id="Answer_QuestionId" value="" type="text" name="questionId"  hidden/>
								}



				
								<div class="form-group">
									<label for="Answer_AnswerText">@L("AnswerText")</label>
									<input class="form-control" id="Answer_AnswerText" value="@Model.Answer.AnswerText" type="text" name="answerText"  required    />
								</div>
					

            </form>
        </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
