
@using RASP.AbpTemplate.Web.Areas.App.Models.Common.Modals
@using RASP.AbpTemplate.Web.Areas.App.Models.Answers
@model AnswerViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="AnswerInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("AnswerText") :</h6>
                @Model.Answer.AnswerText
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("Question")) @L("QuestionText") :</h6>
                @Model.QuestionQuestionText
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")

