﻿@using RASP.AbpTemplate
@using RASP.AbpTemplate.Web.Areas.App.Models.Layout
@using RASP.AbpTemplate.Web.Areas.App.Views.Shared.Components.AppLogo
@model FooterViewModel
@{
    Layout = null;
}
<div class="kt-footer kt-footer--extended  kt-grid__item" id="kt_footer">
    <div class="kt-footer__bottom">
        <div class="@(await GetContainerClass())">
            <div class="kt-footer__wrapper">
                <div class="kt-footer__logo">
                    <a href="@Url.Action("Index", "Home", new {area = string.Empty})">
                        @await Component.InvokeAsync(typeof(AppLogoViewComponent), new { logoSkin="dark-sm" })
                    </a>
                    <div class="kt-footer__copyright">
                        @Model.GetProductNameWithEdition() | v@(AppVersionHelper.Version) [@AppVersionHelper.ReleaseDate.ToString("yyyyMMdd")]
                    </div>
                </div>
                <div class="kt-footer__menu">
                </div>
            </div>
        </div>
    </div>
</div>