
@using System.Globalization
@using RASP.AbpTemplate.Web.Areas.App.Models.Common.Modals
@using RASP.AbpTemplate.Web.Areas.App.Models.RSliders
@model CreateOrEditRSliderModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditRSlider")) : L("CreateNewRSlider")))

<div class="modal-body">
        <div id="RSliderInformationsTab">
            <form name="RSliderInformationsForm" role="form" novalidate class="form-validation">

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="id" value="@Model.RSlider.Id" />
                }

				

				
								<div class="form-group">
									<label for="RSlider_Title">@L("Title")</label>
									<input class="form-control" id="RSlider_Title" value="@Model.RSlider.Title" type="text" name="title"  required  maxlength="@RASP.AbpTemplate.RModel.RSliderConsts.MaxTitleLength"  minlength="@RASP.AbpTemplate.RModel.RSliderConsts.MinTitleLength"  />
								</div>
					
								<div class="form-group">
									<label for="RSlider_FileName">@L("FileName")</label>
									<input class="form-control" id="RSlider_FileName" value="@Model.RSlider.FileName" type="text" name="fileName"  required  maxlength="@RASP.AbpTemplate.RModel.RSliderConsts.MaxFileNameLength"  minlength="@RASP.AbpTemplate.RModel.RSliderConsts.MinFileNameLength"  />
								</div>
					
								<div class="form-group">
									<label for="RSlider_Link">@L("Link")</label>
									<input class="form-control" id="RSlider_Link" value="@Model.RSlider.Link" type="text" name="link"     />
								</div>
					
								<div class="form-group">
									<label for="RSlider_Description">@L("Description")</label>
									<input class="form-control" id="RSlider_Description" value="@Model.RSlider.Description" type="text" name="description"   maxlength="@RASP.AbpTemplate.RModel.RSliderConsts.MaxDescriptionLength"  minlength="@RASP.AbpTemplate.RModel.RSliderConsts.MinDescriptionLength"  />
								</div>
					
								<div class="m-checkbox-list">
									<label for="RSlider_IsAvailable" class="kt-checkbox">
										<input id="RSlider_IsAvailable" type="checkbox" name="isAvailable" value="true" @Html.Raw(Model.RSlider.IsAvailable ?"checked=\"checked\"":"") />
										@L("IsAvailable")
										<span></span>
									</label>
								</div>
					
								<div class="form-group">
									<label for="RSlider_PositionCode">@L("PositionCode")</label>
									<input class="form-control" id="RSlider_PositionCode" value="@Model.RSlider.PositionCode" type="text" name="positionCode"   maxlength="@RASP.AbpTemplate.RModel.RSliderConsts.MaxPositionCodeLength"  minlength="@RASP.AbpTemplate.RModel.RSliderConsts.MinPositionCodeLength"  />
								</div>
					
								<div class="form-group">
									<label for="RSlider_Priority">@L("Priority")</label>
									<input class="form-control m-input" id="RSlider_Priority" value="@Model.RSlider.Priority.ToString(CultureInfo.InvariantCulture)" type="number" name="priority"  />
								</div>
					

            </form>
        </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
