
@using RASP.AbpTemplate.Web.Areas.App.Models.Common.Modals
@using RASP.AbpTemplate.Web.Areas.App.Models.RSliders
@model RSliderViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="RSliderInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Title") :</h6>
                @Model.RSlider.Title
            </div>
            <div class="col-6 mb-3">
                <h6>@L("FileName") :</h6>
                @Model.RSlider.FileName
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Description") :</h6>
                @Model.RSlider.Description
            </div>
            <div class="col-6 mb-3">
                <h6>@L("IsAvailable") :</h6>
                @Model.RSlider.IsAvailable
            </div>
            <div class="col-6 mb-3">
                <h6>@L("PositionCode") :</h6>
                @Model.RSlider.PositionCode
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Priority") :</h6>
                @Model.RSlider.Priority
            </div>


        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")

