@using RASP.AbpTemplate.Authorization
@using RASP.AbpTemplate.Web.Areas.App.Models.RSliders
@using RASP.AbpTemplate.Web.Areas.App.Startup
@model RSlidersViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Common.RSliders;
}
@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/RSliders/Index.js" asp-append-version="true"></script>
}
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
 <div class="kt-subheader kt-grid__item">
  <div class="@(await GetContainerClass())">
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title">
            <span>@L("RSliders")</span>
        </h3>
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        <span class="kt-subheader__desc">
            @L("RSlidersHeaderInfo")
        </span>
    </div>
    <div class="kt-subheader__toolbar">
        <div class="kt-subheader__wrapper">
            <button id="ExportToExcelButton" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>
            @if (IsGranted(AppPermissions.Pages_Administration_RSliders_Create))
            {
                <button id="CreateNewRSliderButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewRSlider")</button>
            }
        </div>
    </div>
  </div>
</div>
<div class="@(await GetContainerClass()) kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__body">
            <div class="kt-form">
                <div class="row align-items-center mb-4">
                    <div class="col-xl-12">
                        <div class="form-group align-items-center">
                            <div class="input-group">
                                <input type="text" id="RSlidersTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                <span class="input-group-btn">
                                    <button id="GetRSlidersButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
						<div class="kt-separator kt-separator--border-dashed"></div>
					</div>

							<div class="col-md-3">
								<div class="form-group">
									<label for="TitleFilterId">@L("Title")</label>
									<input type="text" class="form-control" name="titleFilter" id="TitleFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="FileNameFilterId">@L("FileName")</label>
									<input type="text" class="form-control" name="fileNameFilter" id="FileNameFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="LinkFilterId">@L("Link")</label>
									<input type="text" class="form-control" name="linkFilter" id="LinkFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="DescriptionFilterId">@L("Description")</label>
									<input type="text" class="form-control" name="descriptionFilter" id="DescriptionFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<label for="IsAvailableFilterId">@L("IsAvailable")</label>
								<select class="form-control" name="IsAvailableFilter" id="IsAvailableFilterId">
									<option value="-1">@L("All")</option>
									<option value="0">@L("False")</option>
									<option value="1">@L("True")</option>
								</select>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="PositionCodeFilterId">@L("PositionCode")</label>
									<input type="text" class="form-control" name="positionCodeFilter" id="PositionCodeFilterId">
								</div>
                            </div>
                            <div class="col-md-3">
                                 <div class="form-group">
									<label  for="MinPriorityFilterId">@L("MinMax") @L("Priority")</label>
									<div class="input-group">
										<input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minPriorityFilter" id="MinPriorityFilterId"/>
                                        <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxPriorityFilter"  id="MaxPriorityFilterId"/>
									</div>
                                </div>
                            </div>

                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
            <div class="row align-items-center">
                <table id="RSlidersTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>@L("Actions")</th>
								<th>@L("Title")</th>
								<th>@L("FileName")</th>
								<th>@L("Description")</th>
								<th>@L("IsAvailable")</th>
								<th>@L("PositionCode")</th>
								<th>@L("Priority")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
  </div>
</div>