﻿.quiz--wrapper {
    padding: 0 25px;
}
.quiz--container {
    background: #fff;
    border-radius: 15px;
    padding: 25px;
}
.wrapper__min-height--600 {
    min-height: 600px;
    padding-bottom: 150px;
}
.green {
    background: #169433;
    border-color: #169433;
}
    .green:hover {
        background: green;
        border-color: green;
    }
.red {
    background: #d70d0d;
    border-color: #d70d0d;
}
    .red:hover {
        background: #c60a0a;
        border-color: #c60a0a;
    }
.wrap-relative {
    position: relative;
}
/**/
.form__group input {
    width: 100%;
    height: 65px;
    background: rgba(255,255,255,0.1);
    text-align: center;
    font-size: 22px;
    line-height: 100px;
    border: 0;
    transition: all .5s ease;
    color: #fafafa;
}
    .form__group input::-webkit-input-placeholder {
        color: #fafafa;
    }
    .form__group input::-moz-placeholder {
        color: #fafafa;
    }
    .form__group input:-ms-input-placeholder {
        color: #fafafa;
    }
    .form__group input:-moz-placeholder {
        color: #fafafa;
    }

    .form__group input:focus,
    .form__group input:hover {
        background: rgba(255,255,255,0.3);
        outline: none;
    }
.choice-list {
    width: 920px;
    max-width: 100%;
    background: rgba(0,0,0,0.7);
    padding: 25px;
    margin: 30px auto;
    border-radius: 5px;
}
    .choice-list .choice__list--item {
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
    }
        .choice-list .choice__list--item:hover,
        .choice-list .choice__list--item.active {
            background: rgba(255,255,255,0.3);
        }
    .choice-list .choice__list--item > i {
        font-size: 48px;
        color: #ddd;
    }
    .choice-list .choice__list--item > p {
        color: #ddd;
        margin: 5px 0 0;
    }
    .choice-list .choice__list--item:hover > i,
    .choice-list .choice__list--item:hover > p {
        color: #fff;
    }
    /**/
.choice-result {
    width: 920px;
    max-width: 100%;
    margin: 30px auto;
}
    .choice-result .item {
        display: none;
    }
    .choice-result .item.active {
        display: block;
    }
    .btn-file {
        position: relative;
        overflow: hidden;
        vertical-align: middle;
    }

    .btn-file > input {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        font-size: 23px;
        cursor: pointer;
        filter: alpha(opacity=0);
        opacity: 0;
        direction: ltr;
    }

.fileinput {
    display: block;
    margin-bottom: 9px;
    width: 100%;
}

    .fileinput .form-control {
        display: inline-block;
        padding-top: 7px;
        padding-bottom: 5px;
        margin-bottom: 0;
        vertical-align: middle;
        cursor: text;
    }

    .fileinput .thumbnail {
        display: inline-block;
        margin-bottom: 5px;
        overflow: hidden;
        text-align: center;
        vertical-align: middle;
    }

        .fileinput .thumbnail > img {
            max-height: 100%;
        }

    .fileinput .btn {
        vertical-align: middle;
    }

.fileinput-exists .fileinput-new,
.fileinput-new .fileinput-exists {
    display: none;
}

.fileinput-inline .fileinput-controls {
    display: inline;
}

.fileinput-filename {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}

.form-control .fileinput-filename {
    vertical-align: bottom;
}

.fileinput.input-group {
    display: table;
}

    .fileinput.input-group > * {
        position: relative;
        z-index: 2;
    }

    .fileinput.input-group > .btn-file {
        z-index: 1;
    }

.fileinput-new.input-group .btn-file,
.fileinput-new .input-group .btn-file {
    border-radius: 0 4px 4px 0;
}

    .fileinput-new.input-group .btn-file.btn-xs,
    .fileinput-new .input-group .btn-file.btn-xs,
    .fileinput-new.input-group .btn-file.btn-sm,
    .fileinput-new .input-group .btn-file.btn-sm {
        border-radius: 0 3px 3px 0;
    }

    .fileinput-new.input-group .btn-file.btn-lg,
    .fileinput-new .input-group .btn-file.btn-lg {
        border-radius: 0 6px 6px 0;
    }

.form-group.has-warning .fileinput .fileinput-preview {
    color: #8a6d3b;
}

.form-group.has-warning .fileinput .thumbnail {
    border-color: #faebcc;
}

.form-group.has-error .fileinput .fileinput-preview {
    color: #a94442;
}

.form-group.has-error .fileinput .thumbnail {
    border-color: #ebccd1;
}

.form-group.has-success .fileinput .fileinput-preview {
    color: #3c763d;
}

.form-group.has-success .fileinput .thumbnail {
    border-color: #d6e9c6;
}

.input-group-addon:not(:first-child) {
    border-left: 0;
}
.fileinput {
    margin-bottom: 0
}

    .fileinput .close {
        float: none
    }

    .fileinput .input-group {
        white-space: nowrap;
        overflow: hidden
    }
.btn.default:not(.btn-outline) {
    color: #666;
    background-color: #e1e5ec;
    border-color: #e1e5ec
}

    .btn.default:not(.btn-outline).focus, .btn.default:not(.btn-outline):focus {
        color: #666;
        background-color: #c2cad8;
        border-color: #93a1bb
    }

    .btn.default:not(.btn-outline).active, .btn.default:not(.btn-outline):active, .btn.default:not(.btn-outline):hover, .open > .btn.default:not(.btn-outline).dropdown-toggle {
        color: #666;
        background-color: #c2cad8;
        border-color: #bcc5d4
    }

        .btn.default:not(.btn-outline).active.focus, .btn.default:not(.btn-outline).active:focus, .btn.default:not(.btn-outline).active:hover, .btn.default:not(.btn-outline):active.focus, .btn.default:not(.btn-outline):active:focus, .btn.default:not(.btn-outline):active:hover, .open > .btn.default:not(.btn-outline).dropdown-toggle.focus, .open > .btn.default:not(.btn-outline).dropdown-toggle:focus, .open > .btn.default:not(.btn-outline).dropdown-toggle:hover {
            color: #666;
            background-color: #acb7ca;
            border-color: #93a1bb
        }

    .btn.default:not(.btn-outline).active, .btn.default:not(.btn-outline):active, .open > .btn.default:not(.btn-outline).dropdown-toggle {
        background-image: none
    }

    .btn.default:not(.btn-outline).disabled.focus, .btn.default:not(.btn-outline).disabled:focus, .btn.default:not(.btn-outline).disabled:hover, .btn.default:not(.btn-outline)[disabled].focus, .btn.default:not(.btn-outline)[disabled]:focus, .btn.default:not(.btn-outline)[disabled]:hover, fieldset[disabled] .btn.default:not(.btn-outline).focus, fieldset[disabled] .btn.default:not(.btn-outline):focus, fieldset[disabled] .btn.default:not(.btn-outline):hover {
        background-color: #e1e5ec;
        border-color: #e1e5ec
    }

    .btn.default:not(.btn-outline) .badge {
        color: #e1e5ec;
        background-color: #666
    }
    /**/
#wrap-answer .input {
    position: relative;
    margin-bottom: 10px;
}
    #wrap-answer .input input[type="text"],
    #answer-type__text .input input[type="text"] {
        width: calc(100% - 45px);
        border: 0;
        background: rgba(255,255,255,0.5);
        height: 50px;
        padding: 5px 10px;
        font-size: 18px;
    }
.quiz__right-bar #wrap-answer .input input[type="text"] {
    background: #e0e0e0;
    width: 100%;
}
#answer-type__text .input{
    margin-bottom: 15px;
}
    #answer-type__text .input .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 100%;
    }
    #answer-type__text .input .bootstrap-select > .dropdown-toggle.btn-light {
        border: 0;
        background: rgba(255,255,255,0.5);
        height: 50px;
        padding: 5px 10px;
        font-size: 18px;
        width: 100%;
        border-radius: 0 !important;
    }
    #answer-type__text .input .bootstrap-select .dropdown-toggle .filter-option {
        line-height: 39px;
        color: #000;
    }
    #answer-type__text .input .bootstrap-select > .dropdown-toggle:after {
        color: #000;
    }
#answer-type__text .input label {
    color: #fff;
}
        #answer-type__text .input input[type="text"]{
            width: 100%;
        }
        #wrap-answer .input input[type="text"]:focus,
        #answer-type__text .input input[type="text"]:focus {
            outline: none;
        }
#wrap-answer .input button.remove-answer {
    border: 0;
    background: #fafafa;
    position: absolute;
    top: 0;
    right: 45px;
    font-size: 18px;
    height: 50px;
    width: 50px;
}
.quiz__right-bar #wrap-answer .input button.remove-answer {
    right: 0;
    background: #999;
    color: #fff;
}
.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    top: 10px;
    right: 0;
}
    .radio-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}
.radio-container:hover input ~ .checkmark {
    background-color: #ccc;
}
.radio-container input:checked ~ .checkmark {
    background-color: #2196F3;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-container input:checked ~ .checkmark:after {
    display: block;
}
.radio-container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
.add-another-answer {
    padding-right: 45px;
}
/**/
.quiz-list {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    background: #ececec;
    padding: 10px;
    overflow-x: auto;
    white-space: nowrap;
}
.quiz-list .item {
    padding: 0 5px;
    display: inline-block;
    vertical-align: top;
}
    .quiz-list .item .inner-item {
        width: 190px;
        height: 100px;
        text-align: center;
    }
    .quiz-list .item .inner-item:hover {
        box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
    }
        .quiz-list .item > a {
            display: block;
        }
    .quiz-list .item .inner-item.success-item {
        background: url("http://localhost:62114/Common/Images/1366x768-px-lake-nature-river-Romania-1045884.jpg") no-repeat;
        background-size: cover;
        padding: 10px;
    }
    .quiz-list .item .inner-item.success-item p {
        color:#fff;
    }
    .quiz-list .item .inner-item.empty-item {
        padding: 13px 10px;
        background: #fff;
    }
        .quiz-list .item .inner-item > span {
            width: 50px;
            line-height: 50px;
            font-size: 24px;
            border-radius: 50%;
            border: 1px dotted #ddd;
            display: inline-block;
            color: #999;
        }
        .quiz-list .item .inner-item > p {
            margin-top: 5px;
            color: #999;
        }
        /**/
.quiz-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    /*-ms-flex-direction: column;
    flex-direction: column;*/
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    flex-wrap: wrap;
}
.quiz__left-bar {
    padding: 10px;
}
.quiz__left-bar,
.quiz__right-bar {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.quiz__left-bar {
    width: calc(100% - 400px);
}
.quiz__right-bar {
    width: 400px;
    background: #fff;
    padding: 30px 20px;
    position: relative;
}
    .quiz__right-bar .wrapper {
    }
.wrap-empty {
    min-height: 150px;
}
    .wrap-empty p i {
        background: rgba(0,0,0,0.5);
        color: #fff;
        padding: 10px 20px;
        display: inline-block;
    }
#wrap-group {
    display: none;
}
.wrap-group {
    background: #fff;
    border-radius: 5px;
    padding: 30px;
}
.wrap-group .item ul {
    list-style: none;
    margin: 0;
}
    .wrap-group .item h4{
        padding: 5px 0;
        font-weight: bold;
    }
    .wrap-group .item h4,
    .wrap-group .item ul li {

    }
.wrap-group .item ul li {
    margin-bottom: 5px;
}
    .wrap-group .item ul li a {
        display: block;
        color: #000;
        transition: all .5s ease;
        padding: 5px 0;
    }
.wrap-group .item ul li a:hover {
    color: red;
    margin-left: 10px;
}
#form__add-group {
}
#form__add-group input[type="text"]{
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    line-height: 40px;
    padding: 5px 10px;
}
#list-group .item {
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 1px solid #e8e7e7;
}
#list-group .item h4 {
    display:inline-block;
    vertical-align: top;
    line-height: 40px;
    width: calc(100% - 100px);
    margin-bottom: 0;
    color: #000;
    font-size: 15px;
}
#list-group .item .action {
    display: inline-block;
    vertical-align: top;
    width: 96px;
}
#list-group .item .action .btn {
    width: 43px;
    height: 40px;
}

@media screen and (max-width: 1024px){
    .quiz__left-bar, .quiz__right-bar{
        width: 100%;
    }
}