﻿@using Abp.Json
@using RASP.AbpTemplate.Localization
@model RASP.AbpTemplate.Web.Models.Account.ResetPasswordViewModel
@section Scripts
{
    <script>
        window.passwordComplexitySetting = @Html.Raw(Model.PasswordComplexitySetting.ToJsonString(indented: true));
    </script>
    <script abp-src="/view-resources/Views/Account/ResetPassword.js" asp-append-version="true"></script>
}
@section Styles{
    <link href="/metronic/common/css/login-1@(CultureHelper.IsRtl ? ".rtl":"").css" rel="stylesheet" />
}
<div class="kt-login__form">
    <div class="kt-login__title">
        <h3 class="m-0">@L("ChangePassword")</h3>
    </div>
    <form class="kt-form pass-reset-form" asp-action="ResetPassword" method="post">
        <p>
            @L("PleaseEnterYourNewPassword")
        </p>
        <input type="hidden" name="UserId" value="@Model.UserId.ToString()">
        <input type="hidden" name="ResetCode" value="@Model.ResetCode">
        <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl">
        <div class="form-group">
            <input class="form-control" type="password" autocomplete="new-password" id="Password" placeholder="@L("Password")" name="Password" required />
        </div>
        <div class="form-group">
            <input class="form-control" type="password" autocomplete="new-password" placeholder="@L("PasswordRepeat")" name="PasswordRepeat" required />
        </div>
        <div class="kt-login__actions">
            <span>&nbsp;</span>
            <button type="submit" class="btn btn-primary btn-elevate kt-login__btn-primary">@L("Submit")</button>
        </div>
    </form>
</div>