﻿@using RASP.AbpTemplate
@using RASP.AbpTemplate.Web.Areas.App.Models.Common.Modals
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("ChangeProfilePicture")))

<div class="modal-body">
    <form id="ChangeProfilePictureModalForm" method="POST" action="@(ApplicationPath + "Profile/UploadProfilePicture")">
        <div class="form-group">
            <input type="file" name="ProfilePicture" />
            <span class="help-block m-b-none">@L("ProfilePicture_Change_Info", AppConsts.MaxProfilPictureBytesUserFriendlyValue)</span>
        </div>
    </form>
    <img id="ProfilePictureResize" src="" />
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
