
@using System.Globalization
@using RASP.AbpTemplate.Web.Areas.App.Models.Common.Modals
@using RASP.AbpTemplate.Web.Areas.App.Models.Coupons
@model CreateOrEditCouponModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditCoupon")) : L("CreateNewCoupon")))

<div class="modal-body">
        <div id="CouponInformationsTab">
            <form name="CouponInformationsForm" role="form" novalidate class="form-validation">

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="id" value="@Model.Coupon.Id" />
                }

				

				
								<div class="form-group">
									<label for="Coupon_Title">@L("Title")</label>
									<input class="form-control" id="Coupon_Title" value="@Model.Coupon.Title" type="text" name="title"  required  maxlength="@RASP.AbpTemplate.RModel.CouponConsts.MaxTitleLength"  minlength="@RASP.AbpTemplate.RModel.CouponConsts.MinTitleLength"  />
								</div>
					
								<div class="form-group">
									<label for="Coupon_Description">@L("Description")</label>
									<input class="form-control" id="Coupon_Description" value="@Model.Coupon.Description" type="text" name="description"   maxlength="@RASP.AbpTemplate.RModel.CouponConsts.MaxDescriptionLength"  minlength="@RASP.AbpTemplate.RModel.CouponConsts.MinDescriptionLength"  />
								</div>
					
								<div class="form-group">
									<label for="Coupon_Content">@L("Content")</label>
									<input class="form-control" id="Coupon_Content" value="@Model.Coupon.Content" type="text" name="content"     />
								</div>
					
								<div class="form-group">
									<label for="Coupon_ValueCoupon">@L("ValueCoupon")</label>
									<input class="form-control" id="Coupon_ValueCoupon" value="@Model.Coupon.ValueCoupon" type="text" name="valueCoupon"  required    />
								</div>
					
								<div class="form-group">
									<label for="Coupon_TimeStart">@L("TimeStart")</label>
									<input class="form-control m-input date-picker" id="Coupon_TimeStart" type="text" name="timeStart" value="@Model.Coupon.TimeStart"/>
								</div>
					
								<div class="form-group">
									<label for="Coupon_TimeEnd">@L("TimeEnd")</label>
									<input class="form-control m-input date-picker" id="Coupon_TimeEnd" type="text" name="timeEnd" value="@Model.Coupon.TimeEnd"/>
								</div>
					
								<div class="m-checkbox-list">
									<label for="Coupon_IsCountDownToEnd" class="kt-checkbox">
										<input id="Coupon_IsCountDownToEnd" type="checkbox" name="isCountDownToEnd" value="true" @Html.Raw(Model.Coupon.IsCountDownToEnd ?"checked=\"checked\"":"") />
										@L("IsCountDownToEnd")
										<span></span>
									</label>
								</div>
					
								<div class="m-checkbox-list">
									<label for="Coupon_IsCountDownToStart" class="kt-checkbox">
										<input id="Coupon_IsCountDownToStart" type="checkbox" name="isCountDownToStart" value="true" @Html.Raw(Model.Coupon.IsCountDownToStart ?"checked=\"checked\"":"") />
										@L("IsCountDownToStart")
										<span></span>
									</label>
								</div>
					
								<div class="m-checkbox-list">
									<label for="Coupon_IsAvailable" class="kt-checkbox">
										<input id="Coupon_IsAvailable" type="checkbox" name="isAvailable" value="true" @Html.Raw(Model.Coupon.IsAvailable ?"checked=\"checked\"":"") />
										@L("IsAvailable")
										<span></span>
									</label>
								</div>
					
								<div class="form-group">
									<label for="Coupon_Author">@L("Author")</label>
									<input class="form-control" id="Coupon_Author" value="@Model.Coupon.Author" type="text" name="author"   maxlength="@RASP.AbpTemplate.RModel.CouponConsts.MaxAuthorLength"  minlength="@RASP.AbpTemplate.RModel.CouponConsts.MinAuthorLength"  />
								</div>
					
								<div class="m-checkbox-list">
									<label for="Coupon_IsShowCarousel" class="kt-checkbox">
										<input id="Coupon_IsShowCarousel" type="checkbox" name="isShowCarousel" value="true" @Html.Raw(Model.Coupon.IsShowCarousel ?"checked=\"checked\"":"") />
										@L("IsShowCarousel")
										<span></span>
									</label>
								</div>
					
								<div class="form-group">
									<label for="Coupon_ImageName">@L("ImageName")</label>
									<input class="form-control" id="Coupon_ImageName" value="@Model.Coupon.ImageName" type="text" name="imageName"   maxlength="@RASP.AbpTemplate.RModel.CouponConsts.MaxImageNameLength"  minlength="@RASP.AbpTemplate.RModel.CouponConsts.MinImageNameLength"  />
								</div>
					
								<div class="form-group">
									<label for="Coupon_Hit">@L("Hit")</label>
									<input class="form-control m-input" id="Coupon_Hit" value="@Model.Coupon.Hit.ToString(CultureInfo.InvariantCulture)" type="number" name="hit"  />
								</div>
					

            </form>
        </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
