
@using RASP.AbpTemplate.Web.Areas.App.Models.Common.Modals
@using RASP.AbpTemplate.Web.Areas.App.Models.Coupons
@model CouponViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="CouponInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Title") :</h6>
                @Model.Coupon.Title
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Description") :</h6>
                @Model.Coupon.Description
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Content") :</h6>
                @Model.Coupon.Content
            </div>
            <div class="col-6 mb-3">
                <h6>@L("ValueCoupon") :</h6>
                @Model.Coupon.ValueCoupon
            </div>
            <div class="col-6 mb-3">
                <h6>@L("TimeStart") :</h6>
                @Model.Coupon.TimeStart
            </div>
            <div class="col-6 mb-3">
                <h6>@L("TimeEnd") :</h6>
                @Model.Coupon.TimeEnd
            </div>
            <div class="col-6 mb-3">
                <h6>@L("IsCountDownToEnd") :</h6>
                @Model.Coupon.IsCountDownToEnd
            </div>
            <div class="col-6 mb-3">
                <h6>@L("IsCountDownToStart") :</h6>
                @Model.Coupon.IsCountDownToStart
            </div>
            <div class="col-6 mb-3">
                <h6>@L("IsAvailable") :</h6>
                @Model.Coupon.IsAvailable
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Author") :</h6>
                @Model.Coupon.Author
            </div>
            <div class="col-6 mb-3">
                <h6>@L("IsShowCarousel") :</h6>
                @Model.Coupon.IsShowCarousel
            </div>
            <div class="col-6 mb-3">
                <h6>@L("ImageName") :</h6>
                @Model.Coupon.ImageName
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Hit") :</h6>
                @Model.Coupon.Hit
            </div>


        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")

