@using RASP.AbpTemplate.Authorization
@using RASP.AbpTemplate.Web.Areas.App.Models.Coupons
@using RASP.AbpTemplate.Web.Areas.App.Startup
@model CouponsViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Common.Coupons;
}
@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/Coupons/Index.js" asp-append-version="true"></script>
}
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
 <div class="kt-subheader kt-grid__item">
  <div class="@(await GetContainerClass())">
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title">
            <span>@L("Coupons")</span>
        </h3>
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        <span class="kt-subheader__desc">
            @L("CouponsHeaderInfo")
        </span>
    </div>
    <div class="kt-subheader__toolbar">
        <div class="kt-subheader__wrapper">
            <button id="ExportToExcelButton" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>
            @if (IsGranted(AppPermissions.Pages_Administration_Coupons_Create))
            {
                <button id="CreateNewCouponButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewCoupon")</button>
            }
        </div>
    </div>
  </div>
</div>
<div class="@(await GetContainerClass()) kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__body">
            <div class="kt-form">
                <div class="row align-items-center mb-4">
                    <div class="col-xl-12">
                        <div class="form-group align-items-center">
                            <div class="input-group">
                                <input type="text" id="CouponsTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                <span class="input-group-btn">
                                    <button id="GetCouponsButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
						<div class="kt-separator kt-separator--border-dashed"></div>
					</div>

							<div class="col-md-3">
								<div class="form-group">
									<label for="TitleFilterId">@L("Title")</label>
									<input type="text" class="form-control" name="titleFilter" id="TitleFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="DescriptionFilterId">@L("Description")</label>
									<input type="text" class="form-control" name="descriptionFilter" id="DescriptionFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="ContentFilterId">@L("Content")</label>
									<input type="text" class="form-control" name="contentFilter" id="ContentFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="ValueCouponFilterId">@L("ValueCoupon")</label>
									<input type="text" class="form-control" name="valueCouponFilter" id="ValueCouponFilterId">
								</div>
                            </div>
                            <div class="col-md-3">
                                    <div class="form-group">
										<label for="MinTimeStartFilterId">@L("TimeStartRange")</label>
										<div class="input-group">
											<input class="form-control m-input date-picker" type="text" placeholder="@L("MinValue")"  id="MinTimeStartFilterId">
											<span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
											<input class="form-control m-input date-picker" type="text" placeholder="@L("MaxValue")"  id="MaxTimeStartFilterId">
										</div>
									</div>
                            </div>
                            <div class="col-md-3">
                                    <div class="form-group">
										<label for="MinTimeEndFilterId">@L("TimeEndRange")</label>
										<div class="input-group">
											<input class="form-control m-input date-picker" type="text" placeholder="@L("MinValue")"  id="MinTimeEndFilterId">
											<span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
											<input class="form-control m-input date-picker" type="text" placeholder="@L("MaxValue")"  id="MaxTimeEndFilterId">
										</div>
									</div>
                            </div>
							<div class="col-md-3">
								<label for="IsCountDownToEndFilterId">@L("IsCountDownToEnd")</label>
								<select class="form-control" name="IsCountDownToEndFilter" id="IsCountDownToEndFilterId">
									<option value="-1">@L("All")</option>
									<option value="0">@L("False")</option>
									<option value="1">@L("True")</option>
								</select>
                            </div>
							<div class="col-md-3">
								<label for="IsCountDownToStartFilterId">@L("IsCountDownToStart")</label>
								<select class="form-control" name="IsCountDownToStartFilter" id="IsCountDownToStartFilterId">
									<option value="-1">@L("All")</option>
									<option value="0">@L("False")</option>
									<option value="1">@L("True")</option>
								</select>
                            </div>
							<div class="col-md-3">
								<label for="IsAvailableFilterId">@L("IsAvailable")</label>
								<select class="form-control" name="IsAvailableFilter" id="IsAvailableFilterId">
									<option value="-1">@L("All")</option>
									<option value="0">@L("False")</option>
									<option value="1">@L("True")</option>
								</select>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="AuthorFilterId">@L("Author")</label>
									<input type="text" class="form-control" name="authorFilter" id="AuthorFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<label for="IsShowCarouselFilterId">@L("IsShowCarousel")</label>
								<select class="form-control" name="IsShowCarouselFilter" id="IsShowCarouselFilterId">
									<option value="-1">@L("All")</option>
									<option value="0">@L("False")</option>
									<option value="1">@L("True")</option>
								</select>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="ImageNameFilterId">@L("ImageName")</label>
									<input type="text" class="form-control" name="imageNameFilter" id="ImageNameFilterId">
								</div>
                            </div>

                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
            <div class="row align-items-center">
                <table id="CouponsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>@L("Actions")</th>
								<th>@L("Title")</th>
								<th>@L("Description")</th>
								<th>@L("Content")</th>
								<th>@L("ValueCoupon")</th>
								<th>@L("TimeStart")</th>
								<th>@L("TimeEnd")</th>
								<th>@L("IsCountDownToEnd")</th>
								<th>@L("IsCountDownToStart")</th>
								<th>@L("IsAvailable")</th>
								<th>@L("Author")</th>
								<th>@L("IsShowCarousel")</th>
								<th>@L("ImageName")</th>
								<th>@L("Hit")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
  </div>
</div>