﻿@using Abp.Application.Services.Dto
@using RASP.AbpTemplate.Authorization
@using RASP.AbpTemplate.Web.Areas.App.Models.Roles
@using RASP.AbpTemplate.Web.Areas.App.Startup
@model RoleListViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Common.Roles;
}

@section Scripts
    {
    <script abp-src="/view-resources/Areas/App/Views/_Bundles/role-list.js" asp-append-version="true"></script>
}
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

    <div class="kt-subheader kt-grid__item">
        <div class="@(await GetContainerClass())">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    <span>@L("Roles")</span>
                </h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <span class="kt-subheader__desc">
                    @L("RolesHeaderInfo")
                </span>
            </div>
            <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper">
                    @if (IsGranted(AppPermissions.Pages_Administration_Roles_Create))
                    {
                        <button id="CreateNewRoleButton" class="btn btn-primary"><i class="la la-plus"></i> @L("CreateNewRole")</button>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="@(await GetContainerClass()) kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="kt-form">
                    <div class="row mb-4">
                        <div class="col-xl-6">
                            <div class="form-group">
                                <button class="btn btn-default btn-block" id="FilterByPermissionsButton">@L("SelectPermissions") (<span id="NumberOfFilteredPermission">0</span>)</button>
                            </div>
                        </div>
                        <div class="col-xl-6 text-right">
                            <button id="RefreshRolesButton" class="btn btn-primary"><i class="la la-refresh"></i> @L("Refresh")</button>
                        </div>
                    </div>
                </div>
                <div class="align-items-center">
                    <table id="RolesTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>
                                <th>@L("Actions")</th>
                                <th>@L("RoleName")</th>
                                <th>@L("CreationTime")</th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
