﻿@using Abp.Runtime.Session
@using RASP.AbpTemplate.Web.Areas.App.Models.Layout
@using RASP.AbpTemplate.Web.Areas.App.Views.Shared.Components.AppLogo
@model HeaderViewModel
@{
    Layout = null;
}
<div class="kt-header__brand   kt-grid__item" id="kt_header_brand">
    <div class="kt-header__brand-logo">
        <a href="@Url.Action("Index", "Home", new {area = string.Empty})" target="_blank">
            @if (AbpSession.TenantId == null || Model.LoginInformations?.Tenant?.LogoId == null)
            {
                <img alt="logo" src="/Common/Images/app-logo-on-light.svg" height="38" />
            }
            else
            {
                @await Component.InvokeAsync(typeof(AppLogoViewComponent))
            }
        </a>
    </div>
</div>
