﻿
@{
    Layout = "~/Views/CityLand/_Layout.cshtml";
}

@section Styles
    {
    <link rel="stylesheet" href="/view-resources/Areas/App/Views/ServiceSurvey/survey.css" />
    <link rel="stylesheet" href="/view-resources/Areas/App/Views/ServiceSurvey/index.css" />
        <style>
            .sv_main .sv_body {
                background-color: #e89b6d4d!important
            }
            .sv_main .sv_p_root > .sv_row:nth-child(odd) {
                background-color: #f1f1f1 !important
            }
            span, h1, h2, h3, h4,h5,p{
                color:black!important;
            }
            .sv_body{
                font-weight:400!important;
            }
        </style>
}
@section Scripts
    {
    <script src="/view-resources/Areas/App/Views/ServiceSurvey/knockout-min.js"></script>
    <script src="/view-resources/Areas/App/Views/ServiceSurvey/survey.ko.js"></script>
    <script abp-src="/view-resources/Areas/App/Views/ServiceSurvey/survey.js" asp-append-version="true"></script>
}
<div class="sv_header">

</div>

<div class="survey-page-header" style="display:none">
    <div class="sv_main survey-page-header-content">
        <button onclick="window.location = '/'">&lt&nbspBack</button>
    </div>
</div>
<div id="surveyElement">
</div>