﻿@using RASP.AbpTemplate.Localization
@model RASP.AbpTemplate.Web.Models.TenantRegistration.TenantRegisterResultViewModel
@{
    ViewBag.DisableTenantChange = true;
}
@section Styles{
    <link href="/metronic/common/css/login-1@(CultureHelper.IsRtl ? ".rtl":"").css" rel="stylesheet" />
}
<div class="kt-login__form">
    <div class="kt-login__title">
        <h3 class="m-0">
            @L("SuccessfullyRegistered")
        </h3>
    </div>
    <form class="kt-form">
        <ul>
            <li><span class="text-muted">@L("TenancyName"):</span> @Model.TenancyName</li>
            <li><span class="text-muted">@L("Name"):</span> @Model.Name</li>
            <li><span class="text-muted">@L("UserName"):</span> @Model.UserName</li>
            <li><span class="text-muted">@L("EmailAddress"):</span> @Model.EmailAddress</li>
        </ul>
        <div>
            @if (Model.IsEmailConfirmationRequired)
            {
            <div class="alert alert-warning" role="alert">
                @L("ConfirmationMailSentPleaseClickLinkInTheEmail", Model.EmailAddress)
            </div>
            }
            @if (!Model.IsActive)
            {
            <div class="alert alert-warning" role="alert">
                @L("YourAccountIsWaitingToBeActivatedByAdmin")
            </div>
            }
            @if (!string.IsNullOrEmpty(Model.TenantLoginAddress))
            {
            <div class="alert alert-info" role="alert">
                @L("TenantRegistrationLoginInfo")<br />
                <a href="@Model.TenantLoginAddress">@Model.TenantLoginAddress</a>
            </div>
            }
        </div>
    </form>
</div>