﻿@using Abp.UI.Inputs
@using RASP.AbpTemplate
@using RASP.AbpTemplate.Editions
@using RASP.AbpTemplate.MultiTenancy.Payments
@model RASP.AbpTemplate.Web.Models.TenantRegistration.EditionsSelectViewModel
@{
    ViewBag.DisableTenantChange = true;
    Layout = "_Layout";
    var isSetted = false;
    var editionIcons = new string[] { "flaticon-open-box", "flaticon-rocket", "flaticon-gift", "flaticon-confetti", "flaticon-cogwheel-2", "flaticon-app", "flaticon-coins", "flaticon-piggy-bank", "flaticon-bag", "flaticon-lifebuoy", "flaticon-technology-1", "flaticon-cogwheel-1", "flaticon-infinity", "flaticon-interface-5", "flaticon-squares-3", "flaticon-interface-6", "flaticon-mark", "flaticon-business", "flaticon-interface-7", "flaticon-list-2", "flaticon-bell", "flaticon-technology", "flaticon-squares-2", "flaticon-notes", "flaticon-profile", "flaticon-layers", "flaticon-interface-4", "flaticon-signs", "flaticon-menu-1", "flaticon-symbol" };
}
@section Styles
{
    <link href="~/view-resources/Views/TenantRegistration/SelectEdition.css" rel="stylesheet" />
}

<div class="kt-portlet">
    <div class="kt-portlet__body">
        @if (!Model.EditionsWithFeatures.Any())
        {
            <div class="alert alert-warning fade show" role="alert">
                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                <div class="alert-text">@L("ThereIsNoEditionToUpgrade")</div>
            </div>
        }
        <div class="kt-pricing-1">
            <div class="kt-pricing-1__items row row-centered">
                @{ var i = 0;}
                @foreach (var editionWithFeatures in Model.EditionsWithFeatures)
                {
                    var edition = editionWithFeatures.Edition;

                    <div class="kt-pricing-1__item col-lg-3 col-centered">

                        <div class="kt-pricing-1__visual">
                            <div class="kt-pricing-1__hexagon1"></div>
                            <div class="kt-pricing-1__hexagon2"></div>
                            <span class="kt-pricing-1__icon kt-font-brand">
                                <i class="fa @editionIcons[i]"></i>
                            </span>
                        </div>

                        <span class="kt-pricing-1__price">
                            @edition.DisplayName
                        </span>
                        <h2 class="kt-pricing-1__subtitle">
                            @if (!edition.DailyPrice.HasValue && !edition.WeeklyPrice.HasValue && !edition.MonthlyPrice.HasValue && !edition.AnnualPrice.HasValue)
                            {

                                <text>@L("Free")</text>

                            }
                            else
                            {
                                if (edition.DailyPrice.HasValue && edition.DailyPrice.Value > 0)
                                {
                                    <text><span>@AbpTemplateConsts.CurrencySign</span> @edition.DailyPrice?.ToString("N2") @L("PerDay") </text><br />
                                }

                                if (edition.WeeklyPrice.HasValue && edition.WeeklyPrice.Value > 0)
                                {
                                    <text><span>@AbpTemplateConsts.CurrencySign</span> @edition.WeeklyPrice?.ToString("N2") @L("PerWeek") </text><br />
                                }

                                if (edition.MonthlyPrice.HasValue && edition.MonthlyPrice.Value > 0)
                                {
                                    <text><span>@AbpTemplateConsts.CurrencySign</span> @edition.MonthlyPrice?.ToString("N2") @L("PerMonth") </text><br />
                                }

                                if (edition.AnnualPrice.HasValue && edition.AnnualPrice.Value > 0)
                                {
                                    <text><span>@AbpTemplateConsts.CurrencySign</span> @edition.AnnualPrice?.ToString("N2") @L("PerYear")</text>
                                }
                            }
                        </h2>
                        <span class="kt-pricing-1__description">
                            @foreach (var feature in Model.AllFeatures)
                            {
                                var featureValue = editionWithFeatures.FeatureValues.FirstOrDefault(f => f.Name == feature.Name);
                                if (feature.InputType.GetType() == typeof(CheckboxInputType))
                                {
                                    if (featureValue.Value == "true")
                                    {
                                        <i class="far fa-check-circle kt-font-success"></i>
                                    }
                                    else
                                    {
                                        <i class="far fa-times-circle text-muted"></i>
                                    }
                                    <text> @feature.DisplayName</text>
                                }
                                else
                                {
                                    <i class="far fa-check-circle kt-font-success"></i><text> @feature.DisplayName : @Html.Raw(featureValue.Value)</text>
                                }
                                <br />
                            }
                        </span>
                        <div class="kt-pricing-1__btn">
                            @if (AbpSession.UserId.HasValue)
                            {
                                <a class="btn btn-warning" href="@Url.Action("Upgrade", "Payment", new {upgradeEditionId = edition.Id, editionPaymentType = EditionPaymentType.Upgrade})">
                                    @L("Upgrade")
                                </a>
                            }
                            else
                            {
                                if (edition.IsFree)
                                {
                                    <a class="btn btn-success" href="@Url.Action("Register", "TenantRegistration", new {editionId = edition.Id, subscriptionStartType = SubscriptionStartType.Free})">
                                        @L("Start")
                                    </a>
                                }
                                else
                                {
                                    if (edition.TrialDayCount.HasValue)
                                    {
                                        <a class="btn btn-warning" href="@Url.Action("Register", "TenantRegistration", new {editionId = edition.Id, subscriptionStartType = SubscriptionStartType.Trial})">
                                            @L("FreeTrial")
                                        </a>
                                    }

                                    <a class="btn btn-primary" href="@Url.Action("Register", "TenantRegistration", new {editionId = edition.Id, subscriptionStartType = SubscriptionStartType.Paid})">
                                        @L("BuyNow")
                                    </a>
                                }
                            }
                        </div>
                    </div>

                    i++;
                }
            </div>
        </div>
    </div>
</div>